/*

Theme Name: Chauffeur
Theme URI: http://themes.quitenicestuff.com/chauffeur
Description: A Premium HTML Template For Limo, Taxi, Car, Bus Hiring Services
Version: 1.0
Author: quitenicestuff
Author URI: http://themeforest.net/user/quitenicestuff
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html

Tags: light, one-column, two-columns, left-sidebar, right-sidebar, custom-colors

*/





/* Style Index * /

1.0 - Global
2.0 - Header
	2.1 - Header 1
	2.2 - Header 2
3.0 - Navigation
	3.1 - Header Area 1 Navigation
	3.2 - Header Area 2 Navigation
	3.3 - Mobile Navigation
	3.4 - Navigation Search
4.0 - Slideshow
5.0 - Typography
	5.1 - Titles
	5.2 - Lists
		5.2.1 - List 1
		5.2.2 - List 2
		5.2.3 - List 3
		5.2.4 - List 4
		5.2.5 - List 5
		5.2.6 - List 6
		5.2.7 - List 7
		5.2.8 - List 8
		5.2.9 - List 9
		5.2.10 - Ordered List
	5.3 - Tables
	5.4 - Buttons
	5.5 - Alerts & Messages
	5.6 - Forms
	5.7 - Dropcap
	5.8 - Blockquote
	5.9 - Other
6.0 - JS Elements
	6.1 - Accordion
	6.2 - Toggle
	6.3 - Tabs
7.0 - Content
	7.1 - Homepage
		7.1.1 - Header Booking Area
			7.1.1.1 - Datepicker Calendar
		7.1.2 - Owl Carousel
		7.1.3 - Call To Action 1
		7.1.4 - Call To Action 2
		7.1.5 - Icons
		7.1.6 - About Us / Video
		7.1.7 - About Us / Video 2
		7.1.8 - Latest News
		7.1.9 - Body Booking Form
		7.1.10 - Photo Gallery
	7.2 - Our Fleet
		7.2.1 - Fleet 2 Cols
		7.2.2 - Fleet 3 Cols
		7.2.3 - Fleet 4 Cols
		7.2.4 - Fleet 5 Cols
	7.3 - Testimonials
	7.4 - PrettyPhoto Lightbox
	7.5 - Page Header
	7.6 - Content Structure
	7.7 - Sidebar
		7.7.1 - Tags
	7.8 - Link Blocks
	7.9 - Photo Gallery
		7.9.1 - Photo Gallery 2 Columns
		7.9.2 - Photo Gallery 3 Columns
		7.9.3 - Photo Gallery 4 Columns
		7.9.4 - Photo Gallery 5 Columns
	7.10 - Page Not Found
	7.11 - Social Links
	7.12 - Search Results
	7.13 - Pagination
	7.14 - News
		7.14.1 - News 1 Col
		7.14.2 - News 2 Col
		7.14.3 - News 3 Col
		7.14.4 - News 4 Col
		7.14.5 - News 5 Col
		7.14.6 - News Single
		7.14.7 - Comments
	7.15 - Service Rates Table
	7.16 - Call To Action Small
	7.17 - Booking Steps
8.0 - Columns
9.0 - Footer
	9.1 - Footer List
	9.2 - Contact Widget
	9.3 - Newsletter
	9.4 - Contact Details Widget





/* 0.0 - Reset by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-spacing: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix,
.tagcloud {
	zoom: 1;
}

.clearfix:before, .clearfix:after,
.tagcloud:before, .tagcloud:after {
	content: "";
	display: table;
}

.clearfix:after,
.tagcloud:after {
	clear: both;
}

.clearboth {
	clear: both;
}

/* 1.0 - Global */
body, select, input, button, textarea {
	color: #424242;
	background: #fff;
	font-family: 'Source Sans Pro', sans-serif;
}

body a {
	text-decoration: none;
	color: #424242;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	color: #070707;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header-area-1 .logo h2:before,
.header-area-1 .topright-button span:after,
.header-area-2 .logo h2:before,
.header-area-2 .topright-button span:after,
.slideshow-button-wrapper .slideshow-button span:after,
.content-wrapper ul li:before,
.booking-form-1 button span:after,
.owl-prev:after,
.owl-next:after,
.button0:after,
.latest-news-block-content .news-meta .nm-news-date:before,
.latest-news-block-content .news-meta .nm-news-comments:before,
#booking-tabs-2 .booking-form-2 button:after,
#booking-tabs-2 .booking-form-3 button:after,
.main-content ul li:before,
.contact-details-list .cdw-address:before,
.contact-details-list .cdw-phone:before,
.contact-details-list .cdw-email:before,
.toggle h4:before,
.accordion h4:before,
.pricing-options-widget ul li:after,
.pricing-options-widget ul li:first-child:after,
.news-block-wrapper .news-meta .nm-news-author:before,
.news-block-wrapper .news-meta .nm-news-date:before,
.news-block-wrapper .news-meta .nm-news-category:before,
.news-block-wrapper .news-meta .nm-news-comments:before,
.call-to-action-button:after,
.view-map-button:after,
.total-price-display .payment-button:after {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/* 2.0 - Header */

/* 2.1 - Header 1 */
.header-area-1 .top-bar-wrapper {
	border-bottom: #e8e8e8 1px solid;
}

.header-area-1 .top-bar {
	width: 1110px;
	margin: 0 auto;
	padding: 16px 0;
	font-size: 15px;
}

.header-area-1 .top-bar-left {
	float: left;
}

.header-area-1 .top-bar-left p {
	margin: 0;
	line-height: 1;
	font-size: 15px;
}

.header-area-1 .top-bar-right {
	float: right;
}

.header-area-1 .top-bar-right ul li {
	float: left;
	font-size: 15px;
}

.header-area-1 .top-bar-right ul li:after {
	content: '/';
	color: #ccc;
	margin: 0 4px;
}

.header-area-1 .top-bar-right ul li:last-child:after {
	content: '';
	margin: 0;
}

.header-area-1 .logo {
	float: left;
}

.header-area-1 .logo h2 {
	font-size: 28px;
	margin: 15px 0 0 0;
}

.header-area-1 .logo h2:before {
	font-size: 20px;
	width: 55px;
	height: 40px;
	padding: 15px 0 0 0;
	margin: -15px 14px 0 0;
	display: block;
	content: "\f1b9";
	color: #fff;
	text-align: center;
	-webkit-border-radius: 99%; 
	-moz-border-radius: 99%;
	-o-border-radius: 99%;
	border-radius: 99%;
	float: left;
}

.header-area-1 .header-content {
	width: 1110px;
	margin: 0 auto;
	padding: 30px 0;
}

.header-area-1 .header-icons-inner {
	float: right;
	margin: 0 10px 0 0;
}

.header-area-1 .header-icon i {
	float: left;
	margin: 0 7px 0 0;
	font-size: 16px;
}

.header-area-1 .header-icon {
	border-left: #e8e8e8 1px solid;
	padding: 10px 20px;
	float: left;
}

.header-area-1 .header-icon p {
	margin: 0;
	line-height: 1;
}

.header-area-1 .header-icon p strong {
	font-size: 16px;
	font-weight: 600;
}

.header-area-1 p.header-icon-text {
	margin: 5px 0 0 0;
	font-size: 15px;
}

.header-area-1 .topright-button {
	float: right;
	color: #fff;
	font-size: 16px;
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	padding: 16px 35px;
	margin: 5px 0 0 0;
	display: inline-table;
}

.header-area-1 .topright-button span:after,
.header-area-1 .topright-button span:after,
.slideshow-button-wrapper .slideshow-button span:after {
	content: "\f105";
	font-size: 16px;
	margin: 0 0 0 8px;
}

/* 2.2 - Header 2 */
.header-area-2 .top-bar-wrapper {
	border-bottom: #e8e8e8 1px solid;
}

.header-area-2 .top-bar {
	width: 1110px;
	margin: 0 auto;
	font-size: 15px;
}

.header-area-2 .top-bar-left {
	float: left;
}

.header-area-2 .top-bar-left p {
	margin: 16px 0 0 0;
	line-height: 1;
	font-size: 15px;
}

.header-area-2 .top-bar-right {
	float: right;
}

.header-area-2 .top-bar-right ul {
	float: left;
	margin: 16px 20px 0 0;
}

.header-area-2 .top-bar-right ul li {
	float: left;
	font-size: 15px;
}

.header-area-2 .top-bar-right ul li:after {
	content: '/';
	color: #ccc;
	margin: 0 4px;
}

.header-area-2 .top-bar-right ul li:last-child:after {
	content: '';
	margin: 0;
}

.header-area-2 .logo {
	margin: 0 auto 20px;
	display: table;
}

.header-area-2 .logo h2 {
	font-size: 28px;
	margin: 15px 0 0 0;
}

.header-area-2 .logo h2:before {
	font-size: 20px;
	width: 55px;
	height: 40px;
	padding: 15px 0 0 0;
	margin: -15px 14px 0 0;
	display: block;
	content: "\f1b9";
	color: #fff;
	text-align: center;
	-webkit-border-radius: 99%; 
	-moz-border-radius: 99%;
	-o-border-radius: 99%;
	border-radius: 99%;
	float: left;
}

.header-area-2 .header-content {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0 30px 0;
}

.header-area-2 .navigation-inner {
	width: 1110px;
	margin: 0 auto;
}

.header-area-2 .header-icons-inner {
	float: right;
	margin: 0 10px 0 0;
}

.header-area-2 .header-icon i {
	float: left;
	margin: 0 7px 0 0;
	font-size: 16px;
}

.header-area-2 .header-icon {
	border-left: #e8e8e8 1px solid;
	padding: 10px 20px;
	float: left;
}

.header-area-2 .header-icon p {
	margin: 0;
	line-height: 1;
}

.header-area-2 .header-icon p strong {
	font-size: 16px;
	font-weight: 600;
}

.header-area-2 p.header-icon-text {
	margin: 5px 0 0 0;
	font-size: 15px;
}

.header-area-2 .topright-button {
	float: right;
	color: #fff;
	font-size: 15px;
	padding: 15px 20px 16px 20px;
	display: inline-table;
}

.header-area-2 .topright-button span:after,
.header-area-2 .topright-button span:after,
.slideshow-button-wrapper .slideshow-button span:after {
	content: "\f105";
	font-size: 16px;
	margin: 0 0 0 8px;
}

/* 3.0 - Navigation */

/* 3.1 - Header Area 1 Navigation */
.header-area-1 #primary-navigation {
	width: 1110px;
	margin: 0 auto;
	z-index: 999;
	position: relative;
}

.header-area-1 .navigation-inner {
	position: relative;
}

.header-area-1 .navigation li a {
	padding: 24px 20px 24px 20px;
	font-size: 17px;
	display: block;
	color: #fff;
}

.header-area-1 .navigation li li a {
	display: initial;
}

.header-area-1 .navigation {
	float: left;
	max-height: 65px;
}

.header-area-1 .navigation ul ul {
	display: none;
	width: 230px;
}

.header-area-1 .navigation ul li:hover > ul {
	display: block;
}

.header-area-1 .navigation .edge ul {
	right: 0;
}

.header-area-1 .navigation ul {
	padding: 0;
	list-style: none;
	position: relative;
	display: inline-table;
}

.header-area-1 .navigation ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

.header-area-1 .navigation ul li {
	float: left;
}
		
.header-area-1 .navigation ul li a {
	text-decoration: none;
}
			
.header-area-1 .navigation ul ul {
	background: #fff;
	position: absolute; 
	top: 100%;
	z-index: 9999;
	border-top: #e8e8e8 1px solid;
}

.header-area-1 .navigation ul ul li {
	float: none; 
	position: relative;
	padding: 0;
	
}

.header-area-1 .navigation ul ul li a {
	padding: 10px 20px;
	border-left: none;
	display: block;
	color: #777;
	font-size: 15px;
}

.header-area-1 .navigation .megamenu-1-col ul li a,
.header-area-1 .navigation .megamenu-2-col ul li a,
.header-area-1 .navigation .megamenu-3-col ul li a,
.header-area-1 .navigation .megamenu-4-col ul li a,
.header-area-1 .navigation .megamenu-5-col ul li a {
	color: #424242;
	font-size: 16px;
}	

.header-area-1 .navigation ul ul li li {
	padding: 0;
}

.header-area-1 .navigation ul ul li,
.header-area-1 .navigation ul ul li:hover {
	border-top: none;
}
		
.header-area-1 .navigation ul ul ul {
	position: absolute; 
	left: 100%;
	top: -21px;
}

.header-area-1 .navigation ul li.menu-item-has-children > a:after {
	content: "\f107";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 16px;
	color: #fff;
	margin: 0 0 0 6px;
}

.header-area-1 .navigation ul li li.menu-item-has-children > a:after {
	content: "\f105";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 16px;
	color: #424242;
	margin: 0 0 0 6px;
	float: right;
}

.header-area-1 .navigation ul li li.menu-item-has-children > a:hover:after {
	color: #fff;
}

.header-area-1 .navigation .megamenu-1-col li li a,
.header-area-1 .navigation .megamenu-2-col li li a,
.header-area-1 .navigation .megamenu-3-col li li a,
.header-area-1 .navigation .megamenu-4-col li li a,
.header-area-1 .navigation .megamenu-5-col li li a {
	font-size: 15px;
	color: #777;
}

.header-area-1 .navigation .megamenu-1-col ul li a,
.header-area-1 .navigation .megamenu-2-col ul li a,
.header-area-1 .navigation .megamenu-3-col ul li a,
.header-area-1 .navigation .megamenu-4-col ul li a,
.header-area-1 .navigation .megamenu-5-col ul li a {
	padding: 10px 20px;
}

.header-area-1 .navigation li ul li a:hover {
	color: #fff;
}

.header-area-1 .navigation .megamenu-1-col ul,
.header-area-1 .navigation .megamenu-2-col ul,
.header-area-1 .navigation .megamenu-3-col ul,
.header-area-1 .navigation .megamenu-4-col ul,
.header-area-1 .navigation .megamenu-5-col ul {
	border-top: #e8e8e8 1px solid;
}

.header-area-1 .navigation .megamenu-1-col ul ul,
.header-area-1 .navigation .megamenu-2-col ul ul,
.header-area-1 .navigation .megamenu-3-col ul ul,
.header-area-1 .navigation .megamenu-4-col ul ul,
.header-area-1 .navigation .megamenu-5-col ul ul,
.header-area-1 .navigation .megamenu-1-col ul li,
.header-area-1 .navigation .megamenu-2-col ul li,
.header-area-1 .navigation .megamenu-3-col ul li,
.header-area-1 .navigation .megamenu-4-col ul li,
.header-area-1 .navigation .megamenu-5-col ul li,
.header-area-1 .navigation .megamenu-1-col ul li:hover,
.header-area-1 .navigation .megamenu-2-col ul li:hover,
.header-area-1 .navigation .megamenu-3-col ul li:hover,
.header-area-1 .navigation .megamenu-4-col ul li:hover,
.header-area-1 .navigation .megamenu-5-col ul li:hover,
.header-area-1 .navigation .megamenu-1-col ul li li,
.header-area-1 .navigation .megamenu-2-col ul li li,
.header-area-1 .navigation .megamenu-3-col ul li li,
.header-area-1 .navigation .megamenu-4-col ul li li,
.header-area-1 .navigation .megamenu-5-col ul li li,
.header-area-1 .navigation .megamenu-1-col ul li li:hover,
.header-area-1 .navigation .megamenu-2-col ul li li:hover,
.header-area-1 .navigation .megamenu-3-col ul li li:hover,
.header-area-1 .navigation .megamenu-4-col ul li li:hover,
.header-area-1 .navigation .megamenu-5-col ul li li:hover {
	border: none;
}

.header-area-1 .navigation li ul {
	-moz-box-shadow: 0 7px 6px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 7px 6px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 7px 6px 2px rgba(0, 0, 0, 0.2);
}

.header-area-1 .navigation li ul,
.header-area-1 .navigation .megamenu-1-col ul li {
	padding: 20px 0;
}

.header-area-1 .navigation .megamenu-1-col ul,
.header-area-1 .navigation .megamenu-2-col ul,
.header-area-1 .navigation .megamenu-3-col ul,
.header-area-1 .navigation .megamenu-4-col ul,
.header-area-1 .navigation .megamenu-5-col ul {
	padding: 0;
}

.header-area-1 .navigation .megamenu-1-col ul li:first-child {
	padding: 20px 0 0 0;
}

.header-area-1 .navigation .megamenu-1-col ul li:last-child {
	padding: 0 0 10px 0;
}

.header-area-1 .navigation .megamenu-2-col ul li,
.header-area-1 .navigation .megamenu-3-col ul li,
.header-area-1 .navigation .megamenu-4-col ul li,
.header-area-1 .navigation .megamenu-5-col ul li {
	border-right: #e8e8e8 1px solid;
	padding: 20px 0;
}

.header-area-1 .navigation .megamenu-2-col ul li:hover,
.header-area-1 .navigation .megamenu-3-col ul li:hover,
.header-area-1 .navigation .megamenu-4-col ul li:hover,
.header-area-1 .navigation .megamenu-5-col ul li:hover {
	border-right: #e8e8e8 1px solid;
}

.header-area-1 .navigation .megamenu-2-col ul li:last-child,
.header-area-1 .navigation .megamenu-3-col ul li:last-child,
.header-area-1 .navigation .megamenu-4-col ul li:last-child,
.header-area-1 .navigation .megamenu-5-col ul li:last-child {
	border-right: none;
}

.header-area-1 .navigation .megamenu-2-col ul li:last-child:hover,
.header-area-1 .navigation .megamenu-3-col ul li:last-child:hover,
.header-area-1 .navigation .megamenu-4-col ul li:last-child:hover,
.header-area-1 .navigation .megamenu-5-col ul li:last-child:hover {
	border-right: none;
}

.header-area-1 .navigation .megamenu-1-col ul li {
	float: left;
	width: 240px;
}

.header-area-1 .navigation .megamenu-2-col ul li {
	float: left;
	width: 240px;
}

.header-area-1 .navigation .megamenu-3-col ul li {
	float: left;
	width: 240px;
}

.header-area-1 .navigation .megamenu-4-col ul li {
	float: left;
	width: 249px;
}

.header-area-1 .navigation .megamenu-5-col ul li {
	float: left;
	width: 199px;
}

.header-area-1 .navigation .megamenu-1-col ul li li,
.header-area-1 .navigation .megamenu-2-col ul li li,
.header-area-1 .navigation .megamenu-3-col ul li li,
.header-area-1 .navigation .megamenu-4-col ul li li,
.header-area-1 .navigation .megamenu-5-col ul li li {
	padding: 0;
}

.header-area-1 .navigation .megamenu-1-col ul li li,
.header-area-1 .navigation .megamenu-2-col ul li li,
.header-area-1 .navigation .megamenu-3-col ul li li,
.header-area-1 .navigation .megamenu-4-col ul li li,
.header-area-1 .navigation .megamenu-5-col ul li li {
	font-weight: normal;
	float: none;
}

.header-area-1 .navigation .megamenu-1-col ul ul,
.header-area-1 .navigation .megamenu-2-col ul ul,
.header-area-1 .navigation .megamenu-3-col ul ul,
.header-area-1 .navigation .megamenu-4-col ul ul,
.header-area-1 .navigation .megamenu-5-col ul ul {
	display: block;
	width: 199px;
	padding: 0;
	position: static;
	left: 0;
	top: 0;
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	box-shadow: none;
}

.header-area-1 .navigation .megamenu-4-col ul ul {
	width: 180px;
}

.header-area-1 .navigation li:last-child li a {
	border-right: none;
}

.header-area-1 .navigation .megamenu-1-col ul {
	width: 240px;
}

.header-area-1 .navigation .megamenu-2-col ul {
	width: 481px;
}

.header-area-1 .navigation .megamenu-3-col ul {
	width: 722px;
}

.header-area-1 .navigation .megamenu-4-col ul {
	width: 999px;
	left: 0;
}

.header-area-1 .navigation .megamenu-5-col ul {
	width: 999px;
	left: 0;
}

.header-area-1 .fixed-navigation-show {
	z-index: 9999; 
	position: fixed !important; 
	margin: 0 auto;
	top: 0; 
	width: 100%;
	visibility: hidden;
	opacity: 0;
	padding: 0 !important;
	-moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	visibility: visible;
	opacity: 1;
	width: 100% !important;
}

.header-area-1 .fixed-navigation-show .navigation-inner {
	width: 1110px;
	margin: 0 auto;
}

.header-area-1 .navigation-inner .fa-search {
	float: right;
	color: #fff;
	margin: 23px 30px 0 0;
	cursor: pointer;
}

/* 3.2 - Header Area 2 Navigation */
.header-area-2 #primary-navigation {
	width: 100%;
	margin: 0 auto;
	z-index: 999;
	position: relative;
	border-top: #e8e8e8 1px solid;
}

.header-area-2 .navigation-inner {
	position: relative;
}

.header-area-2 .navigation li a {
	padding: 8px 20px 8px 20px;
	font-size: 17px;
	display: block;
	color: #424242;
	border-left: #e8e8e8 1px solid;
	margin: 10px 0 14px 0;
}

.header-area-2 .navigation li li a {
	margin: 0;
	padding: 24px 20px 24px 20px;
}

.header-area-2 .navigation li {
	border-top: transparent 3px solid;
}

.header-area-2 .navigation li li a {
	display: initial;
}

.header-area-2 .navigation {
	float: left;
	max-height: 68px;
}

.header-area-2 .navigation ul ul {
	display: none;
	width: 230px;
}

.header-area-2 .navigation ul li:hover > ul {
	display: block;
}

.header-area-2 .navigation .edge ul {
	right: 0;
}

.header-area-2 .navigation ul {
	padding: 0;
	list-style: none;
	position: relative;
	display: inline-table;
}

.header-area-2 .navigation ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

.header-area-2 .navigation ul li {
	float: left;
}
		
.header-area-2 .navigation ul li a {
	text-decoration: none;
}
			
.header-area-2 .navigation ul ul {
	background: #fff;
	position: absolute; 
	top: 100%;
	z-index: 9999;
	border-top: #e8e8e8 1px solid;
}

.header-area-2 .navigation ul ul li {
	float: none; 
	position: relative;
	padding: 0;
	
}

.header-area-2 .navigation ul ul li a {
	padding: 10px 20px;
	border-left: none;
	display: block;
	color: #777;
	font-size: 15px;
}

.header-area-2 .navigation .megamenu-1-col ul li a,
.header-area-2 .navigation .megamenu-2-col ul li a,
.header-area-2 .navigation .megamenu-3-col ul li a,
.header-area-2 .navigation .megamenu-4-col ul li a,
.header-area-2 .navigation .megamenu-5-col ul li a {
	color: #424242;
	font-size: 16px;
}	

.header-area-2 .navigation ul ul li li {
	padding: 0;
}

.header-area-2 .navigation ul ul li,
.header-area-2 .navigation ul ul li:hover {
	border-top: none;
}
		
.header-area-2 .navigation ul ul ul {
	position: absolute; 
	left: 100%;
	top: -21px;
}

.header-area-2 .navigation ul li.menu-item-has-children > a:after {
	content: "\f107";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 16px;
	color: #424242;
	margin: 0 0 0 6px;
}

.header-area-2 .navigation ul li li.menu-item-has-children > a:after {
	content: "\f105";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 16px;
	color: #424242;
	margin: 0 0 0 6px;
	float: right;
}

.header-area-2 .navigation ul li li.menu-item-has-children > a:hover:after {
	color: #fff;
}

.header-area-2 .navigation .megamenu-1-col li li a,
.header-area-2 .navigation .megamenu-2-col li li a,
.header-area-2 .navigation .megamenu-3-col li li a,
.header-area-2 .navigation .megamenu-4-col li li a,
.header-area-2 .navigation .megamenu-5-col li li a {
	font-size: 15px;
	color: #777;
}

.header-area-2 .navigation .megamenu-1-col ul li a,
.header-area-2 .navigation .megamenu-2-col ul li a,
.header-area-2 .navigation .megamenu-3-col ul li a,
.header-area-2 .navigation .megamenu-4-col ul li a,
.header-area-2 .navigation .megamenu-5-col ul li a {
	padding: 10px 20px;
}

.header-area-2 .navigation li ul li a:hover {
	color: #fff;
}

.header-area-2 .navigation .megamenu-1-col ul,
.header-area-2 .navigation .megamenu-2-col ul,
.header-area-2 .navigation .megamenu-3-col ul,
.header-area-2 .navigation .megamenu-4-col ul,
.header-area-2 .navigation .megamenu-5-col ul {
	border-top: #e8e8e8 1px solid;
}

.header-area-2 .navigation .megamenu-1-col ul ul,
.header-area-2 .navigation .megamenu-2-col ul ul,
.header-area-2 .navigation .megamenu-3-col ul ul,
.header-area-2 .navigation .megamenu-4-col ul ul,
.header-area-2 .navigation .megamenu-5-col ul ul,
.header-area-2 .navigation .megamenu-1-col ul li,
.header-area-2 .navigation .megamenu-2-col ul li,
.header-area-2 .navigation .megamenu-3-col ul li,
.header-area-2 .navigation .megamenu-4-col ul li,
.header-area-2 .navigation .megamenu-5-col ul li,
.header-area-2 .navigation .megamenu-1-col ul li:hover,
.header-area-2 .navigation .megamenu-2-col ul li:hover,
.header-area-2 .navigation .megamenu-3-col ul li:hover,
.header-area-2 .navigation .megamenu-4-col ul li:hover,
.header-area-2 .navigation .megamenu-5-col ul li:hover,
.header-area-2 .navigation .megamenu-1-col ul li li,
.header-area-2 .navigation .megamenu-2-col ul li li,
.header-area-2 .navigation .megamenu-3-col ul li li,
.header-area-2 .navigation .megamenu-4-col ul li li,
.header-area-2 .navigation .megamenu-5-col ul li li,
.header-area-2 .navigation .megamenu-1-col ul li li:hover,
.header-area-2 .navigation .megamenu-2-col ul li li:hover,
.header-area-2 .navigation .megamenu-3-col ul li li:hover,
.header-area-2 .navigation .megamenu-4-col ul li li:hover,
.header-area-2 .navigation .megamenu-5-col ul li li:hover {
	border: none;
}

.header-area-2 .navigation li ul {
	-moz-box-shadow: 0 7px 6px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 7px 6px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 7px 6px 2px rgba(0, 0, 0, 0.2);
}

.header-area-2 .navigation li ul,
.header-area-2 .navigation .megamenu-1-col ul li {
	padding: 20px 0;
}

.header-area-2 .navigation .megamenu-1-col ul,
.header-area-2 .navigation .megamenu-2-col ul,
.header-area-2 .navigation .megamenu-3-col ul,
.header-area-2 .navigation .megamenu-4-col ul,
.header-area-2 .navigation .megamenu-5-col ul {
	padding: 0;
}

.header-area-2 .navigation .megamenu-1-col ul li:first-child {
	padding: 20px 0 0 0;
}

.header-area-2 .navigation .megamenu-1-col ul li:last-child {
	padding: 0 0 10px 0;
}

.header-area-2 .navigation .megamenu-2-col ul li,
.header-area-2 .navigation .megamenu-3-col ul li,
.header-area-2 .navigation .megamenu-4-col ul li,
.header-area-2 .navigation .megamenu-5-col ul li {
	border-right: #e8e8e8 1px solid;
	padding: 20px 0;
}

.header-area-2 .navigation .megamenu-2-col ul li:hover,
.header-area-2 .navigation .megamenu-3-col ul li:hover,
.header-area-2 .navigation .megamenu-4-col ul li:hover,
.header-area-2 .navigation .megamenu-5-col ul li:hover {
	border-right: #e8e8e8 1px solid;
}

.header-area-2 .navigation .megamenu-2-col ul li:last-child,
.header-area-2 .navigation .megamenu-3-col ul li:last-child,
.header-area-2 .navigation .megamenu-4-col ul li:last-child,
.header-area-2 .navigation .megamenu-5-col ul li:last-child {
	border-right: none;
}

.header-area-2 .navigation .megamenu-2-col ul li:last-child:hover,
.header-area-2 .navigation .megamenu-3-col ul li:last-child:hover,
.header-area-2 .navigation .megamenu-4-col ul li:last-child:hover,
.header-area-2 .navigation .megamenu-5-col ul li:last-child:hover {
	border-right: none;
}

.header-area-2 .navigation .megamenu-1-col ul li {
	float: left;
	width: 240px;
}

.header-area-2 .navigation .megamenu-2-col ul li {
	float: left;
	width: 240px;
}

.header-area-2 .navigation .megamenu-3-col ul li {
	float: left;
	width: 240px;
}

.header-area-2 .navigation .megamenu-4-col ul li {
	float: left;
	width: 249px;
}

.header-area-2 .navigation .megamenu-5-col ul li {
	float: left;
	width: 199px;
}

.header-area-2 .navigation .megamenu-1-col ul li li,
.header-area-2 .navigation .megamenu-2-col ul li li,
.header-area-2 .navigation .megamenu-3-col ul li li,
.header-area-2 .navigation .megamenu-4-col ul li li,
.header-area-2 .navigation .megamenu-5-col ul li li {
	padding: 0;
}

.header-area-2 .navigation .megamenu-1-col ul li li,
.header-area-2 .navigation .megamenu-2-col ul li li,
.header-area-2 .navigation .megamenu-3-col ul li li,
.header-area-2 .navigation .megamenu-4-col ul li li,
.header-area-2 .navigation .megamenu-5-col ul li li {
	font-weight: normal;
	float: none;
}

.header-area-2 .navigation .megamenu-1-col ul ul,
.header-area-2 .navigation .megamenu-2-col ul ul,
.header-area-2 .navigation .megamenu-3-col ul ul,
.header-area-2 .navigation .megamenu-4-col ul ul,
.header-area-2 .navigation .megamenu-5-col ul ul {
	display: block;
	width: 199px;
	padding: 0;
	position: static;
	left: 0;
	top: 0;
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	box-shadow: none;
}

.header-area-2 .navigation .megamenu-4-col ul ul {
	width: 180px;
}

.header-area-2 .navigation li:last-child li a {
	border-right: none;
}

.header-area-2 .navigation .megamenu-1-col ul {
	width: 240px;
}

.header-area-2 .navigation .megamenu-2-col ul {
	width: 481px;
}

.header-area-2 .navigation .megamenu-3-col ul {
	width: 722px;
}

.header-area-2 .navigation .megamenu-4-col ul {
	width: 999px;
	left: 0;
}

.header-area-2 .navigation .megamenu-5-col ul {
	width: 999px;
	left: 0;
}

.header-area-2 .fixed-navigation-show {
	background: #fff;
	z-index: 9999; 
	position: fixed !important; 
	margin: 0 auto;
	top: 0; 
	width: 100%;
	visibility: hidden;
	opacity: 0;
	padding: 0 !important;
	-moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	visibility: visible;
	opacity: 1;
	width: 100% !important;
}

.header-area-2 .fixed-navigation-show .navigation-inner {
	width: 1110px;
	margin: 0 auto;
}

.header-area-2 .navigation-inner .fa-search {
	float: right;
	color: #424242;
	margin: 23px 0 0 0;
	cursor: pointer;
}

/* 3.3 - Mobile Navigation */
#mobile-navigation {
	float: right;
	margin: 17px 0 0 0;
	display: none;
}

#mobile-navigation a {
	padding: 15px 0 15px 20px;
}

.mobile-navigation-wrapper {
	width: 100%;
	display: none;
	margin: 30px 0 0 0;
}

.mobile-navigation-wrapper ul li a {
	color: #fff;
}

.mobile-navigation-wrapper ul a {
	width: calc(100% - 60px);
	display: block;
	padding: 15px 30px;
}

.mobile-navigation-wrapper ul li li a {
	padding: 15px 30px 15px 45px;
	width: calc(100% - 75px);
}

.mobile-navigation-wrapper ul li li li a {
	padding: 15px 30px 15px 60px;
	width: calc(100% - 90px);
}

/* 3.4 - Navigation Search */
#search-lightbox {
	display: none;
}

.search-lightbox-inner {
	background: #fff;
	width: calc(100% - 30px);
	height: 45px;
}

.search-lightbox-inner input[type="text"] {
	border: 0;
	width: calc(100% - 26px);
	font-size: 16px;
	color: #bebebe;
	padding: 11px 11px;
	border-top: #e8e8e8 1px solid;
	border-bottom: #e8e8e8 1px solid;
	border-left: #e8e8e8 1px solid;
}

/* 4.0 - Slideshow */
.rev_slider_wrapper1 {
	margin: -33px 0 60px 0;
}

.rev_slider_wrapper2 {
	margin: 0 0 40px 0;
}

.rev-custom-caption-1 h3 {
	font-size: 64px;
	color: #fff;
	line-height: 120%;
	width: 700px;
	text-align: left;
	margin: 0 auto;
}

.rev-custom-caption-2 h3 {
	font-size: 64px;
	color: #fff;
	line-height: 120%;
	width: 1110px;
	text-align: center;
}

.rev-custom-caption-1 .title-block1 {
	width: 85px;
	height: 3px;
	margin: 20px 0 25px 0;
}

.rev-custom-caption-2 .title-block1 {
	width: 85px;
	height: 3px;
	margin: 20px auto 25px auto;
}

.rev-custom-caption-2 .slideshow-button-wrapper {
	margin: 0 auto;
	float: none;
	width: 195px;
}

.rev-custom-caption-1 p {
	font-size: 18px;
	color: #fff;
	line-height: 160%;
	margin: 0 0 25px 0;
	text-align: left;
}

.rev-custom-caption-2 p {
	font-size: 18px;
	color: #fff;
	line-height: 160%;
	margin: 0 0 25px 0;
	text-align: center;
}

.tparrows {
	background: none !important;
}
 
.tparrows:after {
	-webkit-border-radius: 99%; 
	-moz-border-radius: 99%;
	-o-border-radius: 99%;
	border-radius: 99%;
	color: #fff;
	font-size: 40px;
	border: #fff 3px solid;
	position: absolute;
	z-index: 10;
	line-height: 65px;
	text-align: center;
	font-weight: 300;
	top: -10px; 
	font-family: "FontAwesome";
}
 
.tp-rightarrow.tparrows:after {
	content: "\f105";
	left: -41px;
	width: 52px;
	padding: 0 3px 0 10px;
}

.tp-leftarrow.tparrows:after {
	content: "\f104";
	left: 15px;
	width: 43px;
	padding: 0 12px 0 10px;
}

.tparrows.tp-leftarrow:before,
.tparrows.tp-rightarrow:before {
	content: '' !important;
}

.slideshow-button {
	border-radius: 30px;
	color: #fff;
	display: inline-table;
	float: left;
	font-size: 16px;
	margin: 5px 0 0;
	padding: 16px 35px;
}

.slideshow-button-wrapper {
	width: 275px;
	margin: 10px 0 0 0;
}

/* 5.0 - Typography */

/* 5.1 - Titles */
.content-wrapper-outer {
	width: 1110px;
	width: 1110px;
	margin: 0 auto;
}

.content-wrapper h3.center-title {
	text-align: center;
	margin: 0 0 21px 0;
}

.content-wrapper h1 {
	font-size: 32px;
	margin: 0 0 30px 0;
}

.content-wrapper h2 {
	font-size: 28px;
	margin: 0 0 30px 0;
}

.content-wrapper h3 {
	font-size: 24px;
	margin: 0 0 30px 0;
}

.content-wrapper h4 {
	font-size: 20px;
	margin: 0 0 20px 0;
}

.content-wrapper h5 {
	font-size: 16px;
	margin: 0 0 30px 0;
	text-transform: uppercase;
}

.content-wrapper h6 {
	font-size: 16px;
	margin: 0 0 30px 0;
}

p {
	line-height: 160%;
	font-size: 16px;
	margin: 0 0 30px 0;
}

.title-block2 {
	width: 55px;
	height: 2px;
	margin: 0px auto 25px auto;
}

.title-block3 {
	width: 45px;
	height: 2px;
	margin: 0px 0 20px 0;
}

.main-content h1 {
	font-size: 32px;
	margin: 0 0 30px 0;
}

.main-content h2 {
	font-size: 28px;
	margin: 0 0 30px 0;
}

.main-content h3 {
	font-size: 24px;
	margin: 0 0 30px 0;
}

.main-content h4 {
	font-size: 20px;
	margin: 0 0 20px 0;
}

.main-content h5 {
	font-size: 16px;
	margin: 0 0 30px 0;
	text-transform: uppercase;
}

.main-content h6 {
	font-size: 16px;
	margin: 0 0 30px 0;
}

/* 5.2 - Lists */

/* 5.2.1 - List 1 */
.content-wrapper ul {
	margin: 0 0 40px 0;
}

.content-wrapper ul li {
	font-size: 15px;
	margin: 0 0 11px 0;
}

.content-wrapper ul li ul {
	margin: 11px 0 11px 0;
}

.content-wrapper ul li li {
	margin: 0 0 11px 20px;
}

.content-wrapper ul li:before {
	content: "\f054";
	font-size: 12px;
	margin: 0 6px 0 0;
}

/* 5.2.2 - List 2 */
.content-wrapper ul.list-style2 li:before {
	content: "\f111";
	font-size: 8px;
}

/* 5.2.3 - List 3 */
.content-wrapper ul.list-style3 li:before {
	content: "\f00d";
	font-size: 15px;
}

/* 5.2.4 - List 4 */
.content-wrapper ul.list-style4 li:before {
	content: "\f00c";
	font-size: 15px;
}

/* 5.2.5 - List 5 */
.content-wrapper ol li {
	list-style: decimal;
	font-size: 15px;
	line-height: 160%;
	margin: 0 0 7px 0;
}

.content-wrapper ol {
	margin: 0 0 40px 15px;
}

.content-wrapper ol ol {
	margin: 7px 0 0 15px;
}

.content-wrapper ol ol li {
	list-style: lower-latin;
}

/* 5.2.6 - List 6 */
.main-content ul {
	margin: 0 0 40px 0;
}

.main-content ul li {
	font-size: 15px;
	margin: 0 0 7px 0;
	padding: 0 0 0 20px;
	line-height: 130%;
	position: relative;
}

.main-content ul li ul {
	margin: 11px 0 11px 0;
}

.main-content ul li li {
	margin: 0 0 11px 20px;
}

.main-content ul li:before {
	content: "\f054";
	font-size: 12px;
	position: absolute;
	left: 0;
	top: 0;
}

/* 5.2.7 - List 7 */
.main-content ul.list-style2 li:before {
	content: "\f111";
	font-size: 8px;
}

/* 5.2.8 - List 8 */
.main-content ul.list-style3 li:before {
	content: "\f00d";
	font-size: 15px;
}

/* 5.2.9 - List 9 */
.main-content ul.list-style4 li:before {
	content: "\f00c";
	font-size: 15px;
}

/* 5.2.10 - Ordered List */
.main-content ol li {
	list-style: decimal;
	font-size: 15px;
	line-height: 160%;
	margin: 0 0 7px 0;
}

.main-content ol {
	margin: 0 0 40px 15px;
}

.main-content ol ol {
	margin: 7px 0 0 15px;
}

.main-content ol ol li {
	list-style: lower-latin;
}

.main-content .border-list {
	margin: 0 0 30px 0;
}

.main-content .border-list li {
	border-bottom: #e8e8e8 1px solid;
	padding: 14px 0 14px 20px;
	margin: 0 6px 0 0;
}

.main-content .border-list li:first-child {
	padding: 0 0 14px 20px;
}

.main-content .border-list li:first-child:before {
	top: 0;
}

.main-content .border-list li:before {
	top: 14px;
}

.main-content .border-list li:last-child {
	padding: 14px 0 0 20px;
	border-bottom: none;
}

/* 5.3 - Tables */
.main-content table {
	width: 100%;
	margin: 0 0 40px 0;
	font-size: 16px;
	color: #424242;
}

.main-content table strong {
	color: #a09d9d;
	font-weight: normal;
}

.main-content table th {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	border-bottom: #e9e9e9 1px solid;
	text-align: left;
	vertical-align: top;
	font-size: 14px;
}

.main-content table td {
	border-right: #e9e9e9 1px solid;
	border-bottom: #e9e9e9 1px solid;
	text-align: left;
	vertical-align: top;
}

.main-content table tr td:last-child {
	border-right: none;
}

.main-content table th {
	padding: 14px 20px 14px 20px;
	font-size: 14px;
	font-weight: 400;
}

.main-content table td {
	padding: 9px 20px;
	line-height: 160%;
}

.main-content table tr {
	background: #fff;
}

.main-content table tr:nth-child(2n) {
    background: #f8f8f8;
}

.main-content .table-style1 th,
.main-content .table-style2 th {
	background: #fff;
	color: #424242;
	font-size: 16px;
}

.main-content .table-style1,
.main-content .table-style2 {
	font-size: 16px;
}

.main-content .table-style1 td,
.main-content .table-style2 td {
	border-right: none;
	padding: 20px 20px;
}

.table-wrapper {
	overflow-x: auto;
}

/* 5.4 - Buttons */
.button1 {
	background: #fff;
	color: #424242 !important;
	font-size: 14px;
	text-align: center;
	margin: 0 0 20px 0;
	padding: 10px 18px;
	border: #e8e8e8 1px solid;
	display: table;
	line-height: 160%;
	text-decoration: none !important;
}

.button1:hover,
.button3:hover,
.button5:hover {
	color: #fff !important;
}

.button2 {
	color: #fff !important;
	font-size: 14px;
	text-align: center;
	margin: 0 0 20px 0;
	padding: 10px 18px;
	display: table;
	line-height: 160%;
	text-decoration: none !important;
}

.button3 {
	background: #fff;
	color: #424242 !important;
	font-size: 16px;
	text-align: center;
	margin: 0 0 20px 0;
	padding: 10px 18px;
	border: #e8e8e8 1px solid;
	display: table;
	line-height: 160%;
	text-decoration: none !important;
}

.button4 {
	color: #fff !important;
	font-size: 16px;
	text-align: center;
	margin: 0 0 20px 0;
	padding: 10px 18px;
	display: table;
	line-height: 160%;
	text-decoration: none !important;
}

.button5 {
	background: #fff;
	color: #424242 !important;
	font-size: 20px;
	text-align: center;
	margin: 0 0 20px 0;
	padding: 12px 32px;
	border: #e8e8e8 1px solid;
	display: table;
	line-height: 160%;
	text-decoration: none !important;
}

.button6 {
	color: #fff !important;
	font-size: 20px;
	text-align: center;
	margin: 0 0 20px 0;
	padding: 12px 32px;
	display: table;
	line-height: 160%;
	text-decoration: none !important;
}

.rounded-button {
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}

/* 5.5 - Alerts & Messages */
.msg {
	padding: 15px 10px 15px 20px;
	margin: 0 0 15px 0;
}

.msg p, .blog-content .msg p {
	margin: 0 !important;
}

.default {
	background: #fff;
	color: #424242;
	border: #dee0e0 1px solid;
}

.default a {
	color: #424242;
	text-decoration: underline;
}

.notice {
	background: #fff5af;
	color: #b3a437;
}

.notice a {
	color: #b3a437;
	text-decoration: underline;
}

.success {
	background: #dff7ca;
	color: #64ae23;
}

.success a {
	color: #64ae23;
	text-decoration: underline;
}

.fail {
	background: #ffe2e1;
	color: #c83f39;
}

.fail a {
	color: #c83f39;
	text-decoration: underline;
}

/* 5.6 - Forms */
.main-content form input[type="text"],
.main-content form textarea {
	width: calc(100% - 24px);
	font-size: 16px;
	color: #bebebe;
	border: #e8e8e8 1px solid;
	padding: 12px;
	margin: 0 0 25px 0;
}

.main-content form label {
	font-size: 16px;
	margin: 0 0 10px 0;
	display: block;
}

.main-content form label span {
	color: #ff0000;
}

.main-content button {
	border: none;
	color: #fff;
	font-size: 14px;
	padding: 10px 25px;
	cursor: pointer;
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}

.main-content button i {
	font-size: 15px;
	margin: 0 0 0 3px;
}

.main-content .search-results-form {
	padding: 30px;
}

.main-content .search-results-form input[type="text"] {
	float: left;
	width: calc(100% - 163px);
	border: none;
	padding: 14px;
	margin: 0;
}

.main-content .search-results-form button {
	width: calc(170px - 50px);
	float: right;
	padding: 13px 25px;
}

.main-content .search-results-form label {
	font-size: 14px;
	color: #fff;
}

/* 5.7 - Dropcap */
.dropcap {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 66px;
	line-height: 1;
	display: block;
	float: left;
	margin: 0 20px 0 0;
}

/* 5.8 - Blockquote */
.main-content blockquote {
	font-style: italic;
	color: #aeaeae;
	padding: 0 0 0 30px;
	position: relative;
	margin: 0 0 0 80px;
}

.main-content blockquote:before {
	content: '“';
	position: absolute;
	top: -14px;
	left: -88px;
	font-size: 160px;
	font-family: Georgia;
	font-style: normal;
}

/* 5.9 - Other */
.space1 {
	border: 0;
}

.space2 {
	border: 0;
	margin: 0 0 20px 0;
}

.space3 {
	border: 0;
	margin: 0 0 50px 0;
}

.space4 {
	border: 0;
	margin: 0 0 80px 0;
}

.space5 {
	border: 0;
	margin: 0 0 30px 0;
}

.space6 {
	border: 0;
	margin: 0 0 30px 0;
	background: #e8e8e8;
	height: 1px;
}

.space7 {
	border: 0;
	margin: 0 0 30px 0;
	height: 1px;
}

/* 6.0 - JS Elements */

/* 6.1 - Accordion */
 .accordion h4 {
	font-size: 16px;
	font-weight: 400;
	border-top: #e5e5e5 1px solid;
	border-left: none;
	border-right: none;
	margin: 0 0 0 0 !important;
	padding: 25px 0 25px 0;
	cursor: pointer;
	line-height: 160%;
	outline: none;
}

.accordion h4:before {
	content: "\f067";
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	width: 30px;
	height: 23px;
	padding: 7px 0 0 0;
	line-height: 1.1em;
	display: block;
	text-align: center;
	float: left;
	margin: 0 15px 0 0;
	-webkit-border-radius: 100%; 
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

.accordion h4.ui-state-active:before {
	content: "\f068";
}

.accordion {
	border-bottom: #e5e5e5 1px solid;
	margin: 0 0 40px 0;
	line-height: 160%;
	display: block;
	font-size: 16px;
}

.accordion .ui-widget-content {
	border: none;
}

.accordion .ui-accordion-content {
	padding: 0 0 20px 55px;
}

/* 6.2 - Toggle */
.toggle {
	border: #e5e5e5 1px solid;
	margin: 0 0 20px 0;
	background: #fff;
	font-size: 14px;
}

.toggle h4 {
	margin: 0 0 0 0 !important;
	line-height: 160%;
	font-size: 16px !important;
	font-weight: 400;
}

.toggle h4:before {
	content: "\f067";
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	width: 30px;
	height: 23px;
	padding: 7px 0 0 0;
	line-height: 1.1em;
	display: block;
	text-align: center;
	float: left;
	margin: 0 15px 0 0;
	-webkit-border-radius: 100%; 
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

.toggle .active h4:before {
	content: "\f068";
}

.toggle .title {
	margin: 0 0 0 0;
	padding: 25px 0 25px 20px;
	cursor: pointer;
}

.toggle .inner {
	margin: 0 20px 30px 55px !important;
	line-height: 160%;
}

/* 6.3 - Tabs */
#tabs .nav li {
	list-style: none;
	padding: 0;
}

.main-content #tabs .nav li:before {
	content: "";
	margin: 0;
}

#tabs .nav li a {
	outline: none;
}

#tabs .tabs .nav li a:hover {
	text-decoration: none;
}

#tabs { 
	position: relative; 
	padding: .2em; 
	zoom: 1;
	margin: 0 0 30px 0;
}

#tabs .ui-tabs-nav { 
	margin: 0;
	position: relative;
	top: 0px;
}

#tabs .ui-tabs-nav li { 
	list-style: none; 
	float: left; 
	position: relative; 
	top: 1px; 
	border-bottom: #e5e5e5 1px solid; 
	padding: 0; 
	white-space: nowrap;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#tabs .ui-tabs-nav li:first-child a {
	border-left: #e8e8e8 1px solid;
}

#tabs .ui-tabs-nav li a { 
	float: left; 
	padding: 15px 20px 15px 20px; 
	text-decoration: none;
	border-right: #e8e8e8 1px solid;
}

#tabs .ui-tabs-nav li {
	border-top: #e8e8e8 4px solid;
	border-bottom: #e8e8e8 1px solid;
	background: #fff;
	margin: 0 !important;
}

#tabs .ui-tabs-nav li:last-child {
	background: #fff;
}

#tabs .ui-tabs-nav li.ui-state-active {
	margin-bottom: 0;
	border-bottom: #fff 1px solid !important;
}

#tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { 
	cursor: text;
}

#tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { 
	cursor: pointer;
}

#tabs .ui-tabs-panel { 
	display: block;
	border: #e8e8e8 1px solid;
	padding: 20px 20px 20px 20px;
	background: #fff;
}

#tabs .ui-tabs-hide { 
	display: none !important;
}

/* 7.0 - Content */

/* 7.1 - Homepage */

/* 7.1.1 - Header Booking Area */
.header-style-3 .large-header-wrapper {
	margin: 0 0 60px 0;
}

.large-header-wrapper {
	background-image: url("../images/image27.jpg");
	background-position: center top;
	background-size: 100% auto;
	width: 100%;
	margin: -33px 0 60px 0;
}

.large-header {
	width: 1110px;
	margin: 0 auto;
	padding: 105px 0 75px 0;
}

.header-booking-form-wrapper {
	width: 400px;
	display: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.widget-booking-form-wrapper {
	width: 100%;
	margin: 0 0 60px 0;
}

.fleet-intro-text {
	font-size: 18px;
	margin: 0 auto 50px auto;
	text-align: center;
	width: 80%;
}

.header-booking-form-wrapper #booking-tabs ul li a {
	display: block;
	float: left;
	width: calc(50% - 60px);
	padding: 25px 30px;
	color: #fff;
	text-align: center;
	position: relative;
}

.main-content #booking-tabs ul li:before {
	content: none;
}

.main-content #booking-tabs ul li,
.main-content #booking-tabs ul {
	margin: 0;
	top: inherit;
	left: inherit;
	padding: inherit;
}

.widget-booking-form-wrapper #booking-tabs ul li a {
	display: block;
	float: left;
	width: calc(50% - 30px);
	padding: 25px 15px;
	color: #fff;
	text-align: center;
	position: relative;
}

.header-booking-form-wrapper #booking-tabs ul li.ui-state-active a:after,
.widget-booking-form-wrapper #booking-tabs ul li.ui-state-active a:after {
	width: 0px;
	height: 0px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	display: block;
	content: '';
	position: absolute;
	bottom: -15px;
	left: calc(50% - 15px);
}

.header-booking-form-wrapper .booking-form-1,
.widget-booking-form-wrapper .booking-form-1 {
	padding: 30px;
}

.header-booking-form-wrapper .booking-form-1 input[type="text"],
.widget-booking-form-wrapper .booking-form-1 input[type="text"] {
	border: none;
	padding: 12px;
	width: calc(100% - 24px);
	display: block;
	margin: 0 0 20px 0;
	font-size: 16px;
	color: #b4b4b4;
}

.header-booking-form-wrapper .booking-form-1 .one-third,
.widget-booking-form-wrapper .booking-form-1 .one-third {
	width: calc(33% - 12.5px);
	float: left;
	margin: 0 20px 0 0;
}

.header-booking-form-wrapper .booking-form-1 .booking-form-time,
.widget-booking-form-wrapper .booking-form-1 .booking-form-time {
	float: left;
	width: 34%;
}

.header-booking-form-wrapper .booking-form-1 .booking-form-hour,
.header-booking-form-wrapper .booking-form-1 .booking-form-min,
.widget-booking-form-wrapper .booking-form-1 .booking-form-hour,
.widget-booking-form-wrapper .booking-form-1 .booking-form-min {
	float: left;
	width: 33%;
}

.header-booking-form-wrapper .booking-form-1 .booking-form-min select,
.widget-booking-form-wrapper .booking-form-1 .booking-form-min select {
	border-left: #e8e8e8 1px solid;
}

.header-booking-form-wrapper .booking-form-1 .two-thirds,
.widget-booking-form-wrapper .booking-form-1 .two-thirds {
	width: calc(66% - 5px);
	float: left;
	margin: 0 20px 0 0;
}

.header-booking-form-wrapper .booking-form-1 .last-col,
.widget-booking-form-wrapper .booking-form-1 .last-col {
	margin: 0;
}

.header-booking-form-wrapper .booking-form-1 label,
.widget-booking-form-wrapper .booking-form-1 label {
	font-size: 16px;
	color: #fff;
	padding: 15px 0 0 0;
	display: block;
}

.widget-booking-form-wrapper .booking-form-1 label {
	font-size: 14px;
}

form select {
	width: calc(100% + 40px);
	padding: 12px 12px;
	background: transparent;
	border: none;
	font-size: 16px;
	color: #bbbbbb;
	-webkit-appearance: none;
	margin: 0;
}

form .select-wrapper {
	width: 100%;
	margin: 0 0 20px 0;
	background: #fff;
	overflow: hidden;
	position: relative;
}

form .select-wrapper i {
	position: absolute;
	right: 12px;
	top: 15px;
	font-size: 16px;
	color: #bbbbbb;
	z-index: 0;
	pointer-events: none;
}

.booking-form-1 button {
	color: #fff;
	font-size: 16px;
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	padding: 12px 35px;
	margin: 5px 0 0 0;
	display: inline-table;
	border: none;
	cursor: pointer;
}

.booking-form-1 button span:after {
	content: "\f105";
	font-size: 16px;
	margin: 0 0 0 8px;
}

/* 7.1.1.1 - Datepicker Calendar */
#ui-datepicker-div {
	padding: 20px;
	color: #fff;
	font-size: 15px;
	-moz-box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.2);
	z-index: 999 !important;
}

.ui-datepicker {
	display: none;
}

#ui-datepicker-div a {
	color: #fff;
	text-decoration: none;
}

#ui-datepicker-div .ui-datepicker-calendar tbody tr td a,
#ui-datepicker-div .ui-datepicker-calendar tbody tr td span {
	width: 39px;
}

.ui-datepicker-calendar tbody tr td a,
#ui-datepicker-div .ui-datepicker-calendar tbody tr td span {
	height: 25px;
	padding: 10px 0 0 0;
	text-align: center;
	display: block;
}

.ui-datepicker-calendar tbody tr td.ui-datepicker-unselectable {
	background: transparent;
}

.ui-datepicker-title {
	text-align: center;
	padding: 0 0 5px 0;
}

.ui-datepicker-header {
	padding: 0 0 10px 0;
	position: relative;
}

.ui-datepicker-prev {
	position: absolute;
	top: 0;
	left: 0;
}

.ui-datepicker-next {
	position: absolute;
	top: 0;
	right: 0;
}

.ui-datepicker-calendar thead tr th {
	padding: 10px 0;
	margin: 0 0 10px 0;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	cursor: pointer;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
	display: none;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	margin: 0 8px 0 0;
	color: #fff;
	display: block;
	text-align: center;
}

.ui-datepicker-prev:after {
	content: "\f104";
}

.ui-datepicker-next:after {
	content: "\f105";
}

.our-fleet-sections {
	position: relative;
}

/* 7.1.2 - Owl Carousel */
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 40px 0 0 0;
}

.owl-theme .owl-controls {
    text-align: center;
}

.owl-theme .owl-dots .owl-dot span {
	-webkit-border-radius: 99%; 
	-moz-border-radius: 99%;
	-o-border-radius: 99%;
	border-radius: 99%;
	width: 9px;
	height: 9px;
	margin: 0 2px;
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition:opacity 200ms ease;
	-moz-transition:opacity 200ms ease;
	-ms-transition:opacity 200ms ease;
	-o-transition:opacity 200ms ease;
	transition:opacity 200ms ease;
}

.background-block1 .owl-theme .owl-dots .owl-dot span {
	border: 3px solid #c9c9c9;
}

.owl-theme .owl-dots .owl-dot.active span {
	background: transparent;
}

.owl-carousel {
	position: static !important;
}

.owl-prev {
	position: absolute;
	top: 0;
	right: 43px;
}

.owl-prev:after {
	content: "\f104";
	position: absolute;
	top: 4px;
	left: 13px;
}

.owl-next:after {
	content: "\f105";
	position: absolute;
	top: 4px;
	left: 16px;
}

.owl-next {
	position: absolute;
	top: 0;
	right: 0;
}

.owl-prev,
.owl-next {
	font-size: 24px;
	width: 35px;
	height: 35px;
	border: #e8e8e8 1px solid;
	-webkit-border-radius: 99%; 
	-moz-border-radius: 99%;
	-o-border-radius: 99%;
	border-radius: 99%;
}

/* 7.1.3 - Call To Action 1 */
.call-to-action-1-section {
	background-image: url("../images/image5.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	width: 100%;
	margin: 0 0 60px 0;
	padding: 70px 0;
}

.call-to-action-1-section-inner {
	width: 1110px;
	margin: 0 auto;
}

.call-to-action-1-section-inner h3 {
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	float: left;
	margin: 8px 0 0 0;
}

.call-to-action-1-section-inner .button0 {
	float: right;
}

.button0 {
	color: #fff;
	font-size: 16px;
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	padding: 16px 35px;
	display: inline-table;
}

.button0:after {
	content: "\f105";
	font-size: 16px;
	margin: 0 0 0 8px;
}

/* 7.1.4 - Call To Action 2 */
.call-to-action-2-section {
	background: url("../images/image10.jpg") no-repeat center top;
	color: #fff;
	padding: 90px 0;
	margin: 0 0 60px 0;
}

.call-to-action-2-section-inner {
	width: 1110px;
	margin: 0 auto;
}

.call-to-action-2-section h3 {
	font-size: 34px;
	margin: 0 auto 30px auto;
	text-align: center;
	width: 65%;
	line-height: 120%;
	color: #fff;
}

.call-to-action-2-section p {
	text-align: center;
}

.call-to-action-2-section .button0 {
	margin: 0 auto;
	float: none;
	display: table;
}

.call-to-action-2-section .title-block5 {
	width: 85px;
	height: 3px;
	margin: 0 auto 30px auto;
	display: block;
}

/* 7.1.5 - Icons */
.home-icons-outer-wrapper {
	margin: 0 auto 30px auto;
}

.home-icons-outer-wrapper-2 {
	margin: 0 auto 0px auto;
}

.home-icon-wrapper .qns-home-icon {
	width: 80px;
	height: 80px;
	margin: 0 auto 30px auto;
	position: relative;
}

.home-icon-wrapper .qns-home-icon:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-width: 15px;
	margin-left: -15px;
}

.home-icon-wrapper-2 .qns-home-icon {
	width: 62px;
	height: 62px;
	margin: 0 0 30px 0;
	position: relative;
	float: left;
}

.home-icon-wrapper-2 .qns-home-icon i {
	margin: 17px 0 0 0;
}

.home-icon-wrapper p {
	text-align: center;
}

.home-icon-wrapper h4,
.home-icon-wrapper-2 h4 {
	font-size: 20px;
	text-align: center;
	margin: 0 0 25px 0;
}

.clearfix .home-icon-wrapper-2 p {
	margin: 0 0 60px 0;
}

.home-icon-wrapper-2 h4 {
	text-align: left;
}

.home-icon-wrapper-2 .qns-home-icon {
	margin: 0;
	float: left;
}

.qns-home-icon i {
	font-size: 28px;
	width: 100%;
	text-align: center;
	margin: 25px 0 0 0;
}

.qns-one-third {
	width: calc(31.7% - 30px);
	float: left;
	margin: 0 60px 0 0;
}

.home-icon-wrapper-2 .title-block3 {
	margin: 0 0 25px 0;
}

.home-icon-inner {
	float: right;
	width: calc(100% - 100px);
}

/* 7.1.6 - About Us / Video */
.about-us-block {
	padding: 85px 150px 0 150px;
	width: calc(50% - 300px);
	float: left;
	height: 345px;
	margin: 0 0 60px 0;
}

.title-block4 {
	width: 55px;
	height: 2px;
	margin: 0px 0 35px 0;
}

.about-us-block h3 {
	font-size: 24px;
	margin: 0 0 25px 0;
}

.about-us-block h3,
.about-us-block p {
	color: #fff;
}

.about-us-block p {
	margin: 0 0 35px 0;
}

.video-wrapper {
	width: 50%;
	height: 430px;
	background: url('../images/image6.jpg') no-repeat center top;
	float: left;
	position: relative;
}

.video-wrapper-page {
	width: 100%;
	height: 335px;
	background: url('../images/image26.jpg') no-repeat center top;
	float: left;
	position: relative;
}

.video-wrapper .video-play {
	position: absolute;
	top: calc(50% - 45px);
	left: calc(50% - 30px);
}

.video-wrapper .video-play i {
	color: #fff;
	width: 70px;
	height: 57px;
	padding: 23px 0 0 10px;
	font-size: 38px;
	text-align: center;
	border: #fff 3px solid;
	z-index: 9999;
	-webkit-border-radius: 99%; 
	-moz-border-radius: 99%;
	-o-border-radius: 99%;
	border-radius: 99%;
}

/* 7.1.7 - About Us / Video 2 */
.about-us-block-2 {
	width: 1110px;
	margin: 0 auto;
}

.about-us-block-2 .about-us-block {
	padding: 0 15px 0 0;
	width: calc(50% - 15px);
	float: left;
	height: inherit;
	background: transparent;
	margin: 0 0 60px 0;
}

.about-us-block-2 .about-us-block h3,
.about-us-block-2 .about-us-block p {
	color: #424242;
}

.about-us-block-2 .video-wrapper {
	width: calc(50% - 15px);
	height: 335px;
	background: url('../images/image26.jpg') no-repeat center top;
	float: right;
	position: relative;
}

.about-us-block-2 .about-us-block p {
	margin: 0 0 25px 0;
}

.about-us-block-2 .title-block4 {
	margin: 0 0 30px 0;
}

/* 7.1.8 - Latest News */
.latest-news-section {
	position: relative;
	margin: 0 auto 60px auto;
}

.latest-news-block-content {
	border-left: #e8e8e8 1px solid;
	border-right: #e8e8e8 1px solid;
	border-bottom: #e8e8e8 1px solid;
}

.latest-news-block-content h4 {
	font-size: 17px;
	line-height: 120%;
	padding: 25px 30px;
	margin: 0;
}

.latest-news-block-content .latest-news-excerpt p {
	padding: 25px 30px;
	margin: 0;
}

.latest-news-block-content .news-meta {
	border-top: #e8e8e8 1px solid;
	border-bottom: #e8e8e8 1px solid;
	padding: 13px 30px;
	font-size: 14px;
}

.latest-news-block-content .news-meta .nm-news-date {
	margin: 0 16px 0 0;
}

.latest-news-block-content .news-meta .nm-news-date:before,
.latest-news-block-content .news-meta .nm-news-comments:before {
	margin: 0 10px 0 0;
	font-size: 18px;
}

.latest-news-block-content .news-meta .nm-news-date:before {
	content: "\f133";
}

.latest-news-block-content .news-meta .nm-news-comments:before {
	content: "\f086";
}

/* 7.1.9 - Body Booking Form */
.body-booking-form-wrapper {
	width: 100%;
	margin: 0 0 60px 0;
}

#booking-tabs-2 .nav {
	float: left;
}

#booking-tabs-2 .nav li a {
	color: #fff;
	width: 220px;
	padding: 36px 0;
	text-align: center;
	display: block;
	font-size: 17px;
}

#booking-tabs-2 .nav li.ui-state-active a {
	position: relative;
}

#booking-tabs-2 .nav li.ui-state-active a:after {
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	display: block;
	content: '';
	position: absolute;
	right: -17px;
	top: calc(50% - 15px);
}

#booking-tabs-2 .booking-tabs-2-panels-wrapper {
	float: right;
	width: calc(100% - 281px);
	padding: 50px 30px;
}

#booking-tabs-2 input[type="text"] {
	color: #b4b4b4;
}

#booking-tabs-2 .booking-form-2 input[type="text"],
#booking-tabs-2 .booking-form-3 input[type="text"] {
	float: left;
	width: calc(100% - 30px);
	border: none;
	font-size: 16px;
	padding: 13px 15px 13px 15px;
	margin: 0 20px 0 0;
}

#booking-tabs-2 .booking-form-2 .select-wrapper,
#booking-tabs-2 .booking-form-3 .select-wrapper {
	float: left;
	width: calc(100%);
	margin: 0 20px 0 0;
}

#booking-tabs-2 .booking-form-2 label,
#booking-tabs-2 .booking-form-3 label {
	padding: 0 0 13px 0;
	color: #fff;
	margin: 0 20px 0 0;
	display: block;
}

#booking-tabs-2 .booking-form-2 button,
#booking-tabs-2 .booking-form-3 button {
	float: left;
	color: #fff;
	font-size: 16px;
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	padding: 12px 25px;
	display: inline-table;
	border: none;
	width: 160px;
	margin: 29px 0 0 0;
}

#booking-tabs-2 .booking-form-2 button:after,
#booking-tabs-2 .booking-form-3 button:after {
	content: "\f105";
	font-size: 16px;
	margin: 0 0 0 8px;
}

#booking-tabs-2 .booking-form-2 .booking-form-input-1,
#booking-tabs-2 .booking-form-2 .booking-form-input-2,
#booking-tabs-2 .booking-form-2 .booking-form-input-3,
#booking-tabs-2 .booking-form-2 .booking-form-input-4 {
	width: calc(25% - 60px);
	float: left;
	margin: 0 20px 0 0;
}

#booking-tabs-2 .booking-form-3 .booking-form-input-1,
#booking-tabs-2 .booking-form-3 .booking-form-input-2,
#booking-tabs-2 .booking-form-3 .booking-form-input-3,
#booking-tabs-2 .booking-form-3 .booking-form-input-4,
#booking-tabs-2 .booking-form-3 .booking-form-input-5 {
	width: calc(20% - 52px);
	float: left;
	margin: 0 20px 0 0;
}

#booking-tabs-2 .booking-form-2 .select-wrapper-hours,
#booking-tabs-2 .booking-form-3 .select-wrapper-hours {
	float: left;
	width: 50%;
	margin: 0;
}

#booking-tabs-2 .booking-form-2 .select-wrapper-mins,
#booking-tabs-2 .booking-form-3 .select-wrapper-mins {
	float: left;
	width: calc(50% - 1px);
	margin: 0;
	border-left: #e8e8e8 1px solid;
}

.icon-input-wrapper {
	position: relative;
}

.icon-input-wrapper i {
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 20px;
	color: #b4b4b4;
}

/* 7.1.10 - Photo Gallery */
.home-photos-wrapper .home-photo {
	width: calc(33.7% - 10px);
	margin: 0 10px 10px 0;
	float: left;
}

.home-photos-wrapper .home-photo:nth-child(3n) {
	margin: 0;
}

.home-photo img {
	width: 100%;
}

/* 7.2 - Our Fleet */
.fleet-block-wrapper {
	margin: 0 0 60px 0;
}

.fleet-block-wrapper .fleet-block {
	border: #e8e8e8 1px solid;
}

.fleet-block-wrapper .fleet-block-content {
	padding: 0 30px 30px 30px;
	border-top: #e8e8e8 1px solid;
}

.fleet-block-wrapper .fleet-block-content h4 {
	font-size: 17px;
}

.fleet-block-wrapper .fleet-block-content ul {
	margin: 0;
}

.fleet-block-wrapper .fleet-block-content .fleet-price {
	font-size: 15px;
	color: #fff;
	padding: 12px;
	display: table;
	margin: -20px 0 25px 0;
	z-index: 99;
	position: relative;
}

/* 7.2.1 - Fleet 2 Cols */
.fleet-2-cols {
	margin: 0;
}

.fleet-2-cols .fleet-block {
	float: left;
	width: calc(50% - 13.3px);
	margin: 0 20px 20px 0;
}

.fleet-2-cols .fleet-block:nth-child(2n) {
	margin: 0 0 20px 0;
}

.fleet-2-cols .fleet-block:nth-child(2n+1) {
	clear: both;
}

.fleet-2-cols .fleet-block img {
	max-width: 100%;
}

/* 7.2.2 - Fleet 3 Cols */
.fleet-3-cols {
	margin: 0;
}

.fleet-3-cols .fleet-block {
	float: left;
	width: calc(33% - 13.7px);
	margin: 0 20px 20px 0;
}

.fleet-3-cols .fleet-block:nth-child(3n) {
	margin: 0 0 20px 0;
}

.fleet-3-cols .fleet-block:nth-child(3n+1) {
	clear: both;
}

.fleet-3-cols .fleet-block img {
	max-width: 100%;
}

/* 7.2.3 - Fleet 4 Cols */
.fleet-4-cols {
	margin: 0;
}

.fleet-4-cols .fleet-block {
	float: left;
	width: calc(24.3% - 13.3px);
	margin: 0 20px 20px 0;
}

.fleet-4-cols .fleet-block-content {
	padding: 0 15px 15px 15px;
}

.fleet-4-cols .fleet-block-content h4 {
	font-size: 15px;
}

.fleet-4-cols .fleet-block:nth-child(4n) {
	margin: 0 0 20px 0;
}

.fleet-4-cols .fleet-block:nth-child(4n+1) {
	clear: both;
}

.fleet-4-cols .fleet-block img {
	max-width: 100%;
}

/* 7.2.4 - Fleet 5 Cols */
.fleet-5-cols {
	margin: 0;
}

.fleet-5-cols .fleet-block {
	float: left;
	width: calc(19.2% - 13.3px);
	margin: 0 20px 20px 0;
	border: none;
}

.fleet-5-cols .fleet-block .fleet-block-content {
	padding: 0;
	border: none;
	margin: 0 0 0 0;
}

.fleet-5-cols .fleet-block .fleet-block-content .fleet-price {
	font-size: 13px;
	padding: 8px;
	margin: 0 0 15px 0;
}

.fleet-5-cols .fleet-block-content h4 {
	font-size: 13px;
	margin: 0 0 15px 0;
}

.fleet-5-cols .fleet-block-content .title-block3 {
	margin: 0 0 15px 0;
}

.main-content .fleet-5-cols .fleet-block-content ul li {
	font-size: 14px;
}

.fleet-5-cols .fleet-block:nth-child(5n) {
	margin: 0 0 20px 0;
}

.fleet-5-cols .fleet-block:nth-child(5n+1) {
	clear: both;
}

.fleet-5-cols .fleet-block img {
	max-width: 100%;
}

.pricing-options-widget {
	padding: 0 30px 10px 30px;
}

.pricing-options-widget ul li {
	font-size: 15px;
}

.widget .pricing-options-widget ul li,
.widget .pricing-options-widget ul li:first-child {
	padding: 30px 0 30px 43px;
}

.pricing-options-widget ul li strong {
	color: #fff;
	display: block;
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 7px 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.widget .pricing-options-widget ul li:after {
	color: #fff;
}

.pricing-options-widget ul li.hour-pricing-option:first-child:after {
	content: "\f017";
	top: 46px;
	font-size: 34px;
}

.pricing-options-widget ul li.day-pricing-option:after {
	content: "\f073";
	top: 46px;
	font-size: 30px;
}

.pricing-options-widget ul li.airport-pricing-option:after {
	content: "\f072";
	top: 47px;
	font-size: 34px;
}

/* 7.3 - Testimonials */
.testimonial-wrapper {
	padding: 35px 30px 0 30px;
}

.testimonial-wrapper-outer {
	border: #e8e8e8 1px solid;
}

.testimonial-wrapper-outer .owl-theme .owl-dots .owl-dot {
	margin: 30px 0 30px 0;
}

.testimonial-wrapper p {
	font-size: 16px;
	position: relative;
	line-height: 160%;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.testimonial-wrapper p span.qns-open-quote {
	font-family: Georgia;
	font-size: 133px;
	font-style: normal;
	position: absolute;
	top: 26px;
	left: -59px;
}

.testimonial-wrapper p span.qns-close-quote {
	font-family: Georgia;
	font-size: 133px;
	font-style: normal;
	position: absolute;
	bottom: -50px;
	right: -50px;
}

.testimonial-wrapper .testimonial-image {
	width: 80px;
	height: 80px;
	margin: 20px auto;
	-webkit-border-radius: 100%; 
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

.testimonial-wrapper .testimonial-image img {
	width: 100%;
	-webkit-border-radius: 100%; 
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

.testimonial-wrapper .testimonial-author p {
	font-style: normal;
	font-size:16px;
}

.testimonial-list-wrapper-full .testimonial-wrapper p {
	width: 83%;
	margin: 0 auto 30px auto;
	font-size: 16px;
}

.testimonial-list-wrapper-full .testimonial-wrapper p:last-child {
	margin: 0 auto;
}

.testimonial-list-wrapper-full .testimonial-wrapper {
	border-bottom: #e8e8e8 1px solid;
	padding: 40px 0 40px 0;
}

.testimonial-list-wrapper-full .testimonial-wrapper:last-child {
	padding: 40px 0 40px 0;
	margin: 0 0 20px 0;
}

.testimonial-single .testimonial-wrapper {
	border: none;
}

.full-width-testimonials-wrapper .owl-controls {
	display: none;
}

.testimonial-gallery-section {
	margin: 0 auto 60px auto;
}

.testimonials-full-wrapper .testimonial-wrapper-outer {
	border: none;
	width: 1110px;
	margin: 0 auto;
}

.testimonials-full-wrapper h3 {
	color: #fff;
}

.testimonials-full-wrapper {
	background-image: url("../images/image25.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	margin: 0 0 60px 0;
	padding: 60px 0;
	color: #fff;
}

.testimonials-full-wrapper .owl-controls {
	display: none;
}

.testimonials-full-wrapper .testimonial-wrapper p span.qns-open-quote,
.testimonials-full-wrapper .testimonial-wrapper p span.qns-close-quote {
	font-size: 160px;
}

.testimonials-full-wrapper .testimonial-wrapper p span.qns-open-quote {
	left: -68px;
    top: 31px;
}

.testimonials-full-wrapper .testimonial-wrapper p span.qns-close-quote {
	bottom: -57px;
	right: -50px;
}

.testimonials-full-wrapper .testimonial-wrapper p {
	font-size: 18px;
}

/* 7.4 - PrettyPhoto Lightbox */
.pp_content {
	position: relative;
}

.pp_close {
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 32px;
	padding: 13px 0 0 0;
	color: #fff;
	z-index: 9999;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	font-size: 16px;
}

.pp_play {
	background: #ccc;
}

.pp_arrow_previous {
	background: #999;
	display: none !important;
}

.pp_arrow_next {
	background: #666;
	display: none !important;
}

.pp_play {
	display: none;
}

.currentTextHolder {
	margin: 0 !important;
}

div.pp_default .pp_content, div.light_rounded .pp_content {
	background: transparent !important;
}

.lightbox-content {
	background: #fff !important;
	-moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	padding: 30px;
	width: calc(100% - 60px);
}

/* 7.5 - Page Header */
#page-header {
	background: url("../images/image28.jpg") no-repeat center top #f0f0f0;
	width: 100%;
	height: 125px;
	padding: 70px 0 0 0;
	margin: -33px 0 40px 0;
}

#page-header h1 {
	text-align: center;
	font-size: 28px;
	color: #424242;
}

#page-header .title-block3 {
	width: 55px;
	height: 2px;
	margin: 15px auto 10px auto;
}

#page-header p {
	display: table;
	margin: 0 auto;
	font-size: 16px;
}

#page-header p i {
	margin: 0 5px;
}

/* 7.6 - Content Structure */
.main-content {
	width: calc(69% - 40px);
	float: left;
}

.main-content p a {
	text-decoration: underline;
}

.sidebar-content {
	width: 31%;
	float: right;
}

.main-content-full {
	width: 100%;
}

/* 7.7 - Sidebar */
.widget {
	position: relative;
	border-left: #e8e8e8 1px solid;
	padding: 12px 0 0 30px;
	margin: 0 0 60px 0;
}

.widget-block {
	position: absolute;
	top: 0;
	left: -1px;
	width: 2px;
	height: 45px;
}

.widget h3 {
	font-size: 20px;
	margin: 0 0 30px 0;
}


.news-widget-wrapper {
	margin: 0 0 30px 0;
}

.news-widget-wrapper img {
	float: left;
	margin: 0 14px 0 0;
}

.news-widget-wrapper .news-widget-content h4 {
	font-size: 14px;
	line-height: 140%;
	margin: 0 0 4px 0;
}

.news-widget-wrapper .news-widget-content p {
	font-size: 14px;
	color: #999;
	margin: 0;
}

.widget ul li {
	font-size: 15px;
	border-bottom: #e8e8e8 1px solid;
	padding: 12px 0 12px 15px;
	margin: 0;
}

.widget ul li:first-child {
	padding: 0 0 12px 15px;
}

.widget ul li:first-child:after {
	top: 8px;
}

.widget ul li:last-child {
	border-bottom: none;
}

.widget ul li:before {
	display: none;
}

.widget ul li {
	position: relative;
}

.widget ul li:after {
	font-family: "FontAwesome"; 
	line-height: 0px;
	position: absolute;
	top: 19px;
	content: "\f054";  
	font-size: 12px;
	left: 0px;
}

/* 7.7.1 - Tags */
.tagcloud {
	margin: 0 0 30px 0;
}

.tagcloud a {
	float: left;
	line-height: 100%;
	list-style: none;
	font-size: 15px;
	border: #e8e8e8 1px solid;
	color: #424242;
	text-decoration: none;
}

.tagcloud a {
	border: #e8e8e8 1px solid;
	margin: 0 12px 12px 0;
	padding: 12px;
}

/* 7.8 - Link Blocks */
.main-content .link-blocks li:before {
	content: "";
	margin: 0;
}

.main-content .link-blocks li {
	margin: 0;
	top: inherit;
	left: inherit;
	padding: inherit;
}

.main-content .link-blocks {
	margin: 0 0 30px 0;
}

.link-blocks .link-block-2,
.link-blocks .link-block-3 {
	color: #fff;
	display: block;
	float: left;
}

.link-blocks .link-block-2 {
	width: 48.2%;
	margin: 0 3% 30px 0;
}

.link-blocks .link-block-3 {
	width: 31.3%;
	margin: 0 3% 30px 0;
}

.link-text {
	font-size: 20px;
	padding: 50px 0 0 30px;
	display: block;
	float: left;
	width: calc(100% - 83px);
}

.link-blocks li:nth-child(2n) .link-block-2,
.link-blocks li:nth-child(3n) .link-block-3 {
	margin: 0;
}

.link-arrow {
	float: right;
	padding: 40px 20px;
	font-size: 36px !important;
	color: #fff;
}

/* 7.9 - Photo Gallery */
.photo-gallery-wrapper .photo-gallery-item {
	float: left;
	margin: 0 30px 30px 0;
}

.photo-gallery-wrapper .photo-gallery-item img {
	width: 100%;
}

.pp_nav p {
	font-size: 14px;
}

/* 7.9.1 - Photo Gallery 2 Columns */
.photo-gallery-2-col .photo-gallery-item {
	width: calc(51.3% - 30px);
}

.photo-gallery-2-col .photo-gallery-item:nth-child(2n) {
	margin: 0;
}

.photo-gallery-2-col .photo-gallery-item:nth-child(2n+1) {
	clear: both;
}

/* 7.9.2 - Photo Gallery 3 Columns */
.photo-gallery-3-col .photo-gallery-item {
	width: calc(34.2% - 30px);
}

.photo-gallery-3-col .photo-gallery-item:nth-child(3n) {
	margin: 0;
}

.photo-gallery-3-col .photo-gallery-item:nth-child(3n+1) {
	clear: both;
}

/* 7.9.3 - Photo Gallery 4 Columns */
.photo-gallery-4-col .photo-gallery-item {
	width: calc(25.6% - 30px);
}

.photo-gallery-4-col .photo-gallery-item:nth-child(4n) {
	margin: 0;
}

.photo-gallery-4-col .photo-gallery-item:nth-child(4n+1) {
	clear: both;
}

/* 7.9.4 - Photo Gallery 5 Columns */
.photo-gallery-5-col .photo-gallery-item {
	width: calc(20.2% - 15px);
	margin: 0 15px 15px 0;
}

.photo-gallery-5-col .photo-gallery-item:nth-child(5n) {
	margin: 0;
}

.photo-gallery-5-col .photo-gallery-item:nth-child(5n+1) {
	clear: both;
}

/* 7.10 - Page Not Found */
.page-not-found-text {
	text-align: center;
	max-width: 530px;
	margin: 0 auto 30px auto;
}

.page-not-found-search-form {
	padding: 30px;
	width: 500px;
	max-width: calc(100% - 60px );
	margin: 0 auto;
}

.main-content .page-not-found-search-form input[type="text"] {
	border: none;
	color: #b4b4b4;
	display: block;
	font-size: 15px;
	margin: 0;
	padding: 11px 12px;
	width: calc(100% - 24px - 125px - 10px);
	float: left;
}

.page-not-found-search-form button {
	float: right;
	color: #fff;
	font-size: 15px;
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	padding: 11px 0;
	margin: 0;
	display: inline-table;
	border: none;
	width: 125px;
}

.page-not-found-search-form button i {
	margin: 0 0 0 5px;
}

/* 7.11 - Social Links */
.main-content .social-links {
	margin: 0;
}

.main-content .social-links li {
	float: left;
	border-bottom: none !important;
	padding: 0 !important;
}

.main-content .social-links li:before {
	content: none;
}

.main-content .social-links li i {
	padding: 0 0 0 0;
	-webkit-border-radius: 99%; 
	-moz-border-radius: 99%;
	-o-border-radius: 99%;
	border-radius: 99%;
	font-size: 22px;
	text-align: center;
	margin: 0 28px 0 0;
}

/* 7.12 - Search Results */
.main-content .search-results-list {
	margin: 0 0 20px 0;
}

.main-content .search-results-list li {
	border-bottom: #e8e8e8 1px solid;
	padding: 45px 0 45px 70px;
	margin: 0;
	position: relative;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 130%;
}

.main-content .search-results-list li span {
	color: #aeaeae;
}

.main-content .search-results-list li:before {
	width: 50px;
	height: 37px;
	padding: 13px 0 0 0;
	font-size: 18px;
	-webkit-border-radius: 100%; 
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	display: block;
	text-align: center;
	float: left;
	position: absolute;
	top: 33px;
	left: 0px;
	content: "\f036";
}

.main-content .search-results-form {
	padding: 30px;
}

.main-content .search-results-form input[type="text"] {
	float: left;
	width: calc(100% - 163px);
	border: none;
	padding: 14px;
	margin: 0;
	font-size: 15px;
}

.main-content .search-results-form button {
	width: calc(170px - 50px);
	float: right;
	padding: 13px 25px;
	font-size: 15px;
}

.main-content .search-results-form label {
	font-size: 14px;
	color: #fff;
}

/* 7.13 - Pagination */
.page-pagination {
	width: 100%;
	padding: 60px 0 50px 0;
}

.main-content .page-pagination ul {
	float: right;
	margin: 0;
}

.page-pagination li {
	float: left;
	display: block;
	margin: 0 6px 0 0;
}

.main-content .page-pagination li {
	padding: 0;
	margin: 0 6px 0 0;
}

.page-pagination li:last-child {
	margin: 0;
}

.main-content .page-pagination li:before {
	content: "";
}

.page-pagination li a,
.page-pagination li span {
	border: #e8e8e8 1px solid;
	text-align: center;
	padding: 10px 14px;
	text-decoration: none;
}

.page-pagination li a {
	color: #424242;
}

.page-pagination li span.current,
.page-pagination li a:hover {
	color: #fff;
}

.pagination-margin {
	padding: 40px 0 50px 0;
}

/* 7.14 - News */

/* 7.14.1 - News 1 Col */
.news-block-wrapper-1-col-listing .news-block h3 {
	font-size: 23px;
	margin: 0 0 14px 0;
}

.news-block-wrapper-1-col-listing .news-block .news-meta {
	border-top: #e8e8e8 1px solid;
	padding: 9px 0 0 0;
	margin: 0 0 30px 0;
}

.news-block-wrapper-1-col-listing .news-block .news-block-image {
	margin: 0 0 30px 0;
}

.news-block-wrapper-1-col-listing .news-block .news-block-image img {
	max-width: 100%;
}

.news-block-wrapper-1-col-listing .news-block {
	padding: 0 0 65px 0;
}

.news-block-wrapper-1-col-listing .news-block:last-child {
	border-bottom: #e8e8e8 1px solid;
}

.news-block-wrapper .news-meta span {
	margin: 0 28px 0 0;
	font-size: 15px;
	line-height: 160%;
	white-space: nowrap;
}

.news-block-wrapper .news-meta .nm-news-author:before,
.news-block-wrapper .news-meta .nm-news-date:before,
.news-block-wrapper .news-meta .nm-news-category:before,
.news-block-wrapper .news-meta .nm-news-comments:before {
	margin: 0 10px 0 0;
	font-size: 16px;
}

.news-block-wrapper .news-meta .nm-news-author:before {
	content: "\f040";
}

.news-block-wrapper .news-meta .nm-news-date:before {
	content: "\f133";
}

.news-block-wrapper .news-meta .nm-news-category:before {
	content: "\f02b";
}

.news-block-wrapper .news-meta .nm-news-comments:before {
	content: "\f075";
}

.news-read-more {
	color: #fff;
	font-size: 14px;
	padding: 11px 26px 13px 26px;
	display: table;
	line-height: 1;
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}

.news-read-more i {
	font-size: 16px;
	margin: 0 0 0 3px;
}

/* 7.14.2 - News 2 Col */
.news-block-wrapper-2-col-listing .news-block {
	float: left;
	width: calc(50% - 20px);
	margin: 0 30px 30px 0;
}

.news-block-wrapper-2-col-listing .news-block:nth-child(2n) {
	margin: 0 0 30px 0;
}

.news-block-wrapper-2-col-listing .news-block:nth-child(2n+1) {
	clear: both;
}

.news-block-wrapper-2-col-listing .news-block img {
	width: 100%;
}

.news-content-wrapper {
	border-left: #e8e8e8 1px solid;
	border-right: #e8e8e8 1px solid;
	border-bottom: #e8e8e8 1px solid;
}

.news-block-wrapper-2-col-listing .news-block h3 {
	font-size: 17px;
	padding: 20px 30px;
	line-height: 140%;
	margin: 0;
}

.news-block-wrapper-2-col-listing .news-block .news-meta {
	border-top: #e8e8e8 1px solid;
	border-bottom: #e8e8e8 1px solid;
	padding: 14px 30px;
}

.news-block-wrapper-2-col-listing .news-block .news-meta span {
	font-size: 14px;
	margin: 0 14px 0 0;
}

.news-block-wrapper-2-col-listing .news-block .news-description {
	padding: 20px 30px;
}

.news-block-wrapper-2-col-listing .news-block .news-description p {
	margin: 0 0 10px 0;
}

/* 7.14.3 - News 3 Col */
.news-block-wrapper-3-col-listing .news-block {
	float: left;
	width: calc(33.2% - 20px);
	margin: 0 30px 30px 0;
}

.news-block-wrapper-3-col-listing .news-block:nth-child(3n) {
	margin: 0 0 30px 0;
}

.news-block-wrapper-3-col-listing .news-block:nth-child(3n+1) {
	clear: both;
}

.news-block-wrapper-3-col-listing .news-block img {
	max-width: 100%;
	width: 100%;
}

.news-content-wrapper {
	border-left: #e8e8e8 1px solid;
	border-right: #e8e8e8 1px solid;
	border-bottom: #e8e8e8 1px solid;
}

.news-block-wrapper-3-col-listing .news-block h3 {
	font-size: 17px;
	padding: 20px 30px;
	line-height: 140%;
	margin: 0;
}

.news-block-wrapper-3-col-listing .news-block .news-meta {
	border-top: #e8e8e8 1px solid;
	border-bottom: #e8e8e8 1px solid;
	padding: 14px 30px;
}

.news-block-wrapper-3-col-listing .news-block .news-meta span {
	font-size: 14px;
	margin: 0 14px 0 0;
}

.news-block-wrapper-3-col-listing .news-block .news-description {
	padding: 20px 30px;
}

.news-block-wrapper-3-col-listing .news-block .news-description p {
	margin: 0 0 10px 0;
}

/* 7.14.4 - News 4 Col */
.news-block-wrapper-4-col-listing .news-block {
	float: left;
	width: calc(25% - 22.5px);
	margin: 0 30px 30px 0;
}

.news-block-wrapper-4-col-listing .news-block:nth-child(4n) {
	margin: 0 0 30px 0;
}

.news-block-wrapper-4-col-listing .news-block:nth-child(4n+1) {
	clear: both;
}

.news-block-wrapper-4-col-listing .news-block img {
	max-width: 100%;
	width: 100%;
}

.news-content-wrapper {
	border-left: #e8e8e8 1px solid;
	border-right: #e8e8e8 1px solid;
	border-bottom: #e8e8e8 1px solid;
}

.news-block-wrapper-4-col-listing .news-block h3 {
	font-size: 17px;
	padding: 20px 30px;
	line-height: 140%;
	margin: 0;
}

.news-block-wrapper-4-col-listing .news-block .news-meta {
	border-top: #e8e8e8 1px solid;
	border-bottom: #e8e8e8 1px solid;
	padding: 14px 30px 0 30px;
}

.news-block-wrapper-4-col-listing .news-block .news-meta span {
	font-size: 14px;
	margin: 0 0 14px 0;
	display: block;
	line-height: 1;
}

.news-block-wrapper-4-col-listing .news-block .news-meta span.nm-news-date {
	margin: 0 0 10px 0;
}

.news-block-wrapper-4-col-listing .news-block .news-description {
	padding: 20px 30px;
}

.news-block-wrapper-4-col-listing .news-block .news-description p {
	margin: 0 0 10px 0;
}

/* 7.14.5 - News 5 Col */
.news-block-wrapper-5-col-listing .news-block {
	float: left;
	width: calc(20% - 16px);
	margin: 0 20px 20px 0;
}

.news-block-wrapper-5-col-listing .news-block:nth-child(5n) {
	margin: 0 0 20px 0;
}

.news-block-wrapper-5-col-listing .news-block:nth-child(5n+1) {
	clear: both;
}

.news-block-wrapper-5-col-listing .news-block img {
	max-width: 100%;
	width: 100%;
}

.news-content-wrapper {
	border-left: #e8e8e8 1px solid;
	border-right: #e8e8e8 1px solid;
	border-bottom: #e8e8e8 1px solid;
}

.news-block-wrapper-5-col-listing .news-block h3 {
	font-size: 16px;
	padding: 20px 20px;
	line-height: 140%;
	margin: 0;
}

.news-block-wrapper-5-col-listing .news-block .news-meta {
	border-top: #e8e8e8 1px solid;
	border-bottom: #e8e8e8 1px solid;
	padding: 14px 20px 0 20px;
}

.news-block-wrapper-5-col-listing .news-block .news-meta span {
	font-size: 14px;
	margin: 0 0 14px 0;
	display: block;
}

.news-block-wrapper-5-col-listing .news-block .news-meta span.nm-news-date {
	margin: 0 0 5px 0;
}

.news-block-wrapper-5-col-listing .news-block .news-description {
	padding: 20px 20px;
}

.news-block-wrapper-5-col-listing .news-block .news-description p {
	margin: 0 0 10px 0;
}

/* 7.14.6 - News Single */
.news-single .news-block:last-child {
	border: none;
	margin: 0;
	padding: 0;
}

.news-single {
	border-bottom: #e8e8e8 1px solid;
	padding: 0 0 20px 0;
	margin: 0 0 40px 0;
}

/* 7.14.7 - Comments */
.comment-image {
	width: 87px;
	height: 87px;
	background: #f2f2f2;
}

.comment-image img {
	width: 100%;
}

.comment-info {
	color: #424242;
	font-weight: 700;
	margin: 0 0 10px 0 !important;
}

.comment-text {
	line-height: 160%;
	margin: 0 0 10px 0 !important;
}

.comment-info span {
	font-weight: 400;
}

.comment-left {
	float: left;
}

.comment-right {
	float: right;
	width: calc(100% - 117px);
	padding: 0 0 5px 0;
	margin: 0 0 25px 0;
	border-bottom: #e8e8e8 1px solid;
}

.comment-entry {
	clear: both;
}

.comments {
	margin: 15px 0 20px 0 !important;
}

.comments ul {
	margin: 0 !important;
}

.main-content .comments li:before {
	content: "";
}

.comments li {
	list-style: none !important;
	border-bottom: none;
	margin: 0 !important;
}

.comments li li {
	margin: 0 0 0 40px !important;
}

.comments li:last-child .comment-right {
	background: none;
}

.comments li li {
	margin: 0 0 0 40px;
}

.reply a {
	color: #424242 !important;
	text-decoration: underline !important;
}

.comment-info p {
	float: left;
	margin: 0;
}

.comment-form button {
	margin: 0;
}

.comment-form {
	margin: 0 0 70px 0;
}

/* 7.15 - Service Rates Table */
.service-rate-table-wrapper {
	margin: 0 0 60px 0;
}

.service-rate-wrapper {
	float: left;
	width: 24%;
}

.car-list-wrapper {
	float: left;
	width: 28%;
}

.mobile-rate-table-msg {
	display: none;
}

.blank-header {
	height: 110px;
	border-bottom: #e8e8e8 1px solid;
}

.car-list-section {
	padding: 26px 0 27px 20px;
	border-bottom: #e8e8e8 1px solid;
	border-right: #e8e8e8 1px solid;
}

.car-list-inner .car-list-section:nth-child(2n) {
	background: #f8f8f8; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #fff , #f8f8f8); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #fff , #f8f8f8); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #fff , #f8f8f8); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #fff , #f8f8f8); /* Standard syntax */
}

.car-list-section p {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float: left;
	padding: 14px 0 14px 14px;
	margin: 0;
	font-size: 16px;
}

.car-list-section img {
	float: left;
}

.service-rate-header {
	padding: 30px;
	position: relative;
}

.service-rate-header:after {
	width: 0px;
	height: 0px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	display: block;
	content: '';
	position: absolute;
	bottom: -10px;
	left: 30px;
}

.service-rate-header p {
	margin: 0;
}

.service-rate-header p strong {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	display: block;
	color: #fff;
}

.service-rate-section {
	padding: 30px;
	border-bottom: #e8e8e8 1px solid;
	border-right: #e8e8e8 1px solid;
}

.service-rate-inner .service-rate-section:nth-child(2n) {
	background: #f8f8f8;
}

.service-rate-section p strong {
	color: #424242;
	display: block;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}

.service-rate-section p {
	font-size: 15px;
	margin: 0;
}

/* 7.16 - Call To Action Small */
.call-to-action-small {
	padding: 35px 30px;
	margin: 0 0 70px 0;
}

.call-to-action-small h4 {
	font-size: 20px;
	color: #fff;
	float: left;
	padding: 15px 0;
	margin: 0;
}

.call-to-action-button {
	float: right;
	color: #fff;
	font-size: 16px;
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	padding: 16px 35px;
	margin: 5px 0 0 0;
	display: inline-table;
}

.call-to-action-button:after {
	content: "\f105";
	font-size: 16px;
	margin: 0 0 0 8px;
}

/* 7.17 - Booking Steps */
.step-wrapper {
	width: calc(25% - 37.5px);
	float: left;
	margin: 0 50px 0 0;
}

.step-icon {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	font-size: 18px;
	width: 46px;
	height: 35px;
	text-align: center;
	padding: 16px 0 0 5px;
	border-radius: 99%;
	margin: 0 auto;
	z-index: 2;
	position: relative;
}

.step-icon-wrapper {
	background: #fff;
	width: 80px;
	margin: 0 auto;
	z-index: 2;
	position: relative;
}

.step-title {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 15px;
	width: 100%;
	text-align: center;
	margin: 14px 0 0 0;
	line-height: 130%;
}

.booking-step-wrapper {
	position: relative;
	margin: 0 0 50px 0;
}

.step-line {
	background: #e8e8e8;
	height: 1px;
	width: 85%;
	margin: 0 auto;
	position: relative;
	top: 25px;
	z-index: 1;
}

.qns-last {
	margin: 0;
}

.booking-step-1-form {
	float: left;
	width: calc(38% - 30px);
	margin: 0 30px 70px 0;
}

.booking-step-intro {
	float: left;
	width: calc(62% - 62px);
	border: #e8e8e8 1px solid;
	padding: 30px;
	margin: 0 0 70px 0;
}

.booking-step-intro ul {
	margin: 0 0 15px 0;
}

.select-vehicle-wrapper { 
	float: left;
	width: calc(37% - 30px);
	margin: 0 30px 0 0;
	padding: 30px 0 0 0;
}

.trip-details-wrapper {
	color: #fff;
	float: left;
	width: calc(63% - 60px);
	padding: 30px;
	margin: 0 0 70px 0;
}

.trip-details-wrapper .trip-details-wrapper-1 {
	float: left;
	width: calc(60% - 30px);
	margin: 0 30px 20px 0;
}

.trip-details-wrapper .trip-details-wrapper-1 p {
	margin: 0 0 23px 0;
	padding: 0 0 23px 0;
}

.trip-details-wrapper .trip-details-wrapper-1 p strong {
	color: #b3b3b3;
	font-weight: normal;
	width: 30%;
	display: block;
	float: left;
}

.trip-details-wrapper .trip-details-wrapper-1 p span {
	float: right;
	width: 70%;
}

.trip-details-wrapper .trip-details-wrapper-2 {
	float: left;
	width: calc(40% - 62px);
	padding: 30px;
}

.trip-details-wrapper .trip-details-wrapper-2 p {
	margin: 0 0 20px 0;
}

.view-map-button,
.main-content p .view-map-button {
	color: #fff;
	font-size: 16px;
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	padding: 11px 30px 13px 30px;
	display: inline-table;
	text-decoration: none;
}

.main-content p .view-map-button {
	padding: 5px 30px 7px 30px;
	margin: -6px 0 0 0;
}

.view-map-button:after {
	content: "\f041";
	font-size: 18px;
	margin: 0 0 0 8px;
}

.trip-details-wrapper .trip-details-wrapper-2 p strong {
	color: #b3b3b3;
	font-weight: normal;
	display: block;
}

.trip-details-wrapper h4 {
	color: #fff;
}

.vehicle-section {
	border: transparent 2px solid;
	outline: #e8e8e8 1px solid;
	padding: 25px 30px;
	margin: 0 0 23px 0;
}

.vehicle-section p {
	font-size: 16px;
	float: left;
	margin: 0;
}

.vehicle-section p strong {
	font-size: 20px;
	display: block;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 5px 0 0 0;
}

.vehicle-section img {
	float: right;
	margin: 0 15px 0 0;
}

.vehicle-section ul {
	float: right;
	margin: 6px 0 0 0;
}

.vehicle-section ul li {
	position: relative;
	padding: 0 0 0 23px;
}

.vehicle-section ul li.vehicle-bag-limit:before {
	content: "\f290";
	font-size: 16px;
	position: absolute;
	left: 0px;
}

.vehicle-section ul li.vehicle-passenger-limit:before {
	content: "\f183";
	font-size: 16px;
	position: absolute;
	left: 3px;
}

.trip-details-wrapper form button {
	color: #fff;
	font-size: 16px;
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	padding: 11px 30px 12px 30px;
	margin: 5px 0 0 0;
	display: inline-table;
}

.full-booking-wrapper {
	color: #fff;
	padding: 30px 30px 40px 30px;
	margin: 0 0 70px 0;
}

.full-booking-wrapper h4 {
	color: #fff;
}

.full-booking-wrapper .clearfix .qns-one-half p {
	margin: 0 0 23px 0;
	padding: 0 0 23px 0;
}

.full-booking-wrapper .clearfix .qns-one-half p strong {
	color: #b3b3b3;
	font-weight: normal;
	width: 30%;
	display: block;
	float: left;
}

.full-booking-wrapper .clearfix .qns-one-half p span {
	float: right;
	width: 70%;
}

.full-booking-wrapper .passenger-details-wrapper .clearfix p {
	margin: 0 0 17px 0;
}

.full-booking-wrapper .passenger-details-wrapper .clearfix p strong {
	color: #b3b3b3;
	font-weight: normal;
	width: 42%;
	display: block;
	float: left;
}

.full-booking-wrapper .passenger-details-wrapper .clearfix p span {
	float: right;
	width: 58%;
}

.full-booking-wrapper .additional-information-wrapper p {
	margin: 0;
}

.full-booking-wrapper .additional-information-wrapper p strong {
	color: #b3b3b3;
	font-weight: normal;
	width: 42%;
	display: block;
	float: left;
}

.full-booking-wrapper .additional-information-wrapper p span {
	float: right;
	width: 58%;
}

.passenger-details-wrapper {
	padding: 30px;
	width: calc(50% - 77px);
	margin: 0 30px 0 0;
	float: left;
}

.passenger-details-half {
	width: calc(50% - 5px);
	margin: 0 10px 0 0;
	float: left;
}

.last-col {
	margin: 0;
}

.total-price-display {
	width: calc(50% - 81px);
	padding: 25px 30px;
	margin: 30px 0 0 0;
}

.total-price-display p {
	float: left;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 10px 0;
	margin: 0;
}

.total-price-display p strong {
	text-decoration: underline;
}

.total-price-display .payment-button {
	float: right;
	color: #fff;
	font-size: 16px;
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	padding: 16px 35px;
	margin: 5px 0 0 0;
	display: inline-table;
}

.total-price-display .payment-button:after {
	content: "\f105";
	font-size: 16px;
	margin: 0 0 0 8px;
}

/* 8.0 - Columns */
.qns-one-half {
	width: calc(50% - 15px);
	margin: 0 30px 0 0;
	float: left;
}

.qns-last {
	margin: 0;
}

/* 9.0 - Footer */
.footer {
	color: #fff;
	width: 100%;
	padding: 70px 0 0 0;
}

.footer p {
	font-size: 15px;
	margin: 0 0 25px 0;
}

.footer a {
	color: #fff;
}

.footer-inner {
	width: 1110px;
	margin: 0 auto;
}

.one-fourth {
	width: calc(25% - 22.5px);
	float: left;
	margin: 0 30px 0 0;
}

.one-half {
	width: calc(50% - 45px);
	float: left;
	margin: 0 30px 0 0;
}

.last-col {
	margin: 0;
}

.footer-inner .one-fourth:nth-child(4n) {
	margin: 0;
}

.footer h5 {
	font-size: 17px;
	margin: 0 0 25px 0;
	color: #fff;
}

.footer-bottom {
	padding: 30px 0;
	margin: 45px 0 0 0;
}

.footer p.footer-message {
	width: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 120%;
	margin: 0;
}

.footer-social-icons-wrapper {
	width: 100%;
	text-align: center;
	padding: 0 0 25px 0;
}

.footer-social-icons-wrapper a {
	font-size: 18px;
	margin: 0 28px 0 0;
}

.footer-social-icons-wrapper a:last-child {
	margin: 0;
}

/* 9.1 - Footer List */
.footer ul li {
	font-size: 15px;
	margin: 0 0 11px 0;
}

.footer ul li:before {
	content: "\f054";
	color: #fff;
	font-size: 12px;
	margin: 0 6px 0 0;
}

/* 9.2 - Contact Widget */
.footer .contact-widget {
	margin: 0 0 0 40px;
}

.contact-widget .cw-address,
.contact-widget .cw-phone,
.contact-widget .cw-cell {
	position: relative;
	line-height: 150%;
	margin: 0 0 6px 0;
	font-size: 15px;
	word-wrap: break-word;
}

.contact-widget .cw-address {
	font-size: 15px;
	max-width: 300px;
}

.contact-widget .cw-phone {
	font-size: 18px;
	line-height: 140%;
}

.contact-widget .cw-phone span {
	display: block;
	font-size: 15px;
}

.contact-widget .cw-cell {
	font-size: 18px;
	line-height: 140%;
}

.contact-widget .cw-cell span {
	display: block;
	font-size: 15px;
}

.footer .contact-widget .cw-address {
	margin: 0 0 20px 0;
}

.footer .contact-widget .cw-address:before,
.footer .contact-widget .cw-phone:before,
.footer .contact-widget .cw-cell:before {
	font-family: "FontAwesome"; 
	line-height: 0px;
	position: absolute;
	top: 22px;
	color: #fff;
}

.footer .contact-widget .cw-address:before {
	content: "\f041";  
	font-size: 30px;
	left: -32px;
}

.footer .contact-widget .cw-phone:before {
	content: "\f095"; 
	font-size: 30px;
	left: -36px;
}

.footer .contact-widget .cw-cell:before {
	content: "\f0e0"; 
	font-size: 24px;
	left: -39px;
}

/* 9.3 - Newsletter */
.newsletter-form button {
	font-size: 14px;
	margin: 0;
	padding: 10px 20px;
	color: #fff;
	border: none;
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	cursor: pointer;
}

.newsletter-form button i {
	font-size: 16px;
	margin: 0 0 0 5px;
}

.footer form input[type="text"] {
	width: calc(100% - 26px);
	padding: 12px 13px 11px 13px;
	margin: 0 0 20px 0;
	border: none;
	font-size: 16px;
	color: #bbbbbb;
	-webkit-appearance: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

.footer h5 {
	font-size: 14px;
	text-transform: uppercase;
}

.title-block6 {
	height: 2px;
	margin: 0 0 25px 0;
	width: 55px;
}

.title-block7 {
	width: 45px;
	height: 2px;
	margin: 0px 0 30px 0;
}

/* 9.4 - Contact Details Widget */
.contact-details-list li:after {
	content: "";
}

.main-content .contact-details-list li:first-child {
	border-top: #e8e8e8 1px solid;
}

.main-content .contact-details-list li {
	border-bottom: #e8e8e8 1px solid;
	padding: 25px 0 25px 55px;
	position: relative;
	margin: 0;
}

.contact-details-list .cdw-address:before,
.contact-details-list .cdw-phone:before,
.contact-details-list .cdw-email:before {
	width: 50px;
	height: 37px;
	padding: 13px 0 0 0;
	font-size: 22px;
	-webkit-border-radius: 100%; 
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	display: block;
	text-align: center;
	float: left;
	position: absolute;
	top: 10px;
	left: 0px;
}

.contact-details-list .cdw-address:before {
	content: "\f041";
}

.contact-details-list .cdw-phone:before {
	content: "\f095";
}

.contact-details-list .cdw-email:before {
	content: "\f0e0";
	font-size: 20px;
}

/* DEMO ONLY */
#style_picker {
	position: fixed;
	top: 270px;
	left: -200px;
	background: #fff;
	padding: 20px;
	z-index: 9999;
	width: 160px;
	box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);
}

#style_picker ul {
	margin: 0;
}

#style_picker a, #style_picker a:hover, #style_picker .picker_title {
	color: #424242;
}

#style_picker .picker_title {
	font-size: 20px;
	margin: 0 0 20px 0;
}

#style_picker a:hover {
	text-decoration: underline;
}

.style_picker_toggle_wrapper {
	display: block;
	position: absolute;
	top: 0px;
	right: -55px;
	width: 55px;
	height: 55px;
}

.style_picker_toggle {
	width: 27px;
	height: 27px;
	position: absolute;
	top: 12px;
	right: 15px;
	text-align: center;
}

.style_picker_toggle i {
	font-size: 28px;
	color: #fff;
}